{% block form %}
    {{ form_start(form) }}
    <div class="govuk-grid-row govuk-!-margin-bottom-4">
        <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
            {{ form_row(form.originLocation) }}
            {{ form_row(form.goodsTransferredFrom) }}
            {{ form_row(form.distanceTravelled) }}
        </div>
        <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
            {{ form_row(form.destinationLocation) }}
            {{ form_row(form.goodsTransferredTo) }}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
            {{ form_row(form.goodsDescription) }}
            {{ form_row(form.goodsDescriptionOther) }}
        </div>
        <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
            {{ form_row(form.cargoTypeCode) }}
            {{ form_row(form.hazardousGoodsCode) }}
            {{ form_row(form.goodsWeight) }}
        </div>
    </div>
    {{ form_rest(form) }}
{% endblock %}