{% set translation_prefix = 'international.correspondence-and-business-details' %}
{% extends 'international_survey/base.html.twig' %}

{% block beforeContent %}{% endblock %}

{% block content %}
    {%- import '@GhostGovUkFrontend/components/macros.html.twig' as gdsComponents -%}
    {%- set response = survey.response -%}

    <h1 class="page-heading__heading govuk-heading-xl">{{ 'international.correspondence-and-business-details.title'|trans }}</h1>

    {%- set urlCorrespondenceDetails = wizardUrl('international-initial-details', 'STATE_CHANGE_CONTACT_DETAILS') -%}
    {%- set urlNumberOfTrips = wizardUrl('international-initial-details', 'STATE_REQUEST_NUMBER_OF_TRIPS') -%}
    {%- set urlActivityStatus = wizardUrl('international-initial-details', 'STATE_REQUEST_ACTIVITY_STATUS') -%}
    {%- set urlBusinessDetails = wizardUrl('international-initial-details', 'STATE_REQUEST_BUSINESS_DETAILS') -%}

    <h2 class="govuk-heading-m">{{ 'international.correspondence-and-business-details.correspondence-details'|trans }}</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        {{ gdsComponents.summaryListRow('Name', response.contactName, {(urlCorrespondenceDetails): 'common.actions.change'}) }}
        {{ gdsComponents.summaryListRow('Email', response.contactEmail, {(urlCorrespondenceDetails): 'common.actions.change'}) }}
        {{ gdsComponents.summaryListRow('Phone', response.contactTelephone, {(urlCorrespondenceDetails): 'common.actions.change'}) }}
    </dl>

    <h2 class="govuk-heading-m">{{ 'international.correspondence-and-business-details.business-details'|trans }}</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        {{ gdsComponents.summaryListRow('international.correspondence-and-business-details.number-of-trips', response.annualInternationalJourneyCount|number_format, {(urlNumberOfTrips): 'common.actions.change'}) }}
        {%- if response.isNoLongerActive %}
            {%- set activityChoices = constant('App\\Entity\\International\\SurveyResponse::ACTIVITY_STATUS_CHOICES') -%}
            {%- set activityStatus = choiceLabel(activityChoices, response.activityStatus) | trans -%}

            {{ gdsComponents.summaryListRow('international.correspondence-and-business-details.still-active', activityStatus, {(urlActivityStatus): 'common.actions.change'}) }}
        {%- else %}
            {%- set employeesChoices = constant('App\\Form\\InternationalSurvey\\InitialDetails\\BusinessDetailsType::EMPLOYEES_CHOICES') -%}
            {%- set fewerThanTenEmployees = choiceLabel(employeesChoices, response.fewerThanTenEmployees, true) | trans -%}

            {{ gdsComponents.summaryListRow('international.correspondence-and-business-details.nature-of-business', response.businessNature, {(urlBusinessDetails): 'common.actions.change'}) }}
            {{ gdsComponents.summaryListRow('international.correspondence-and-business-details.fewer-than-ten-employees', fewerThanTenEmployees, {(urlBusinessDetails): 'common.actions.change'}) }}
        {%- endif %}
    </dl>

    {%- if form -%}
        <h2 class="govuk-heading-m">{{ 'common.headings.next-steps'|trans }}</h2>
        <p class="govuk-body">
            {{ form(form) }}
        </p>
    {%- else -%}
        <p class="govuk-body">
            {%- set dashboardRoute = constant('App\\Controller\\InternationalSurvey\\IndexController::SUMMARY_ROUTE') -%}
            <a href="{{ url(dashboardRoute) }}" class="govuk-button govuk-button--secondary">{{ 'common.actions.back-to-dashboard'|trans }}</a>
        </p>
    {%- endif -%}
{% endblock %}