{% extends 'base.html.twig' %}

{% block title %}International Survey{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}
    {% import '@GhostGovUkFrontend/components/component-macros.html.twig' as gdsComponents %}
    <h1 class="page-heading__heading govuk-heading-xl">IRHS Survey summary</h1>

    <h2 class="govuk-heading-m">Company details</h2>
{#    <dl class="govuk-summary-list govuk-!-margin-bottom-9">#}
{#        {%- set response = preEnquiry.response -%}#}
{#        {%- set urlCompanyName = wizardUrl('pre-enquiry', 'STATE_CHANGE_COMPANY_NAME') -%}#}
{#        {%- set urlVehicleQuestions = wizardUrl('pre-enquiry', 'STATE_CHANGE_VEHICLE_QUESTIONS') -%}#}
{#        {%- set urlEmployeesAndInternationalJourneys = wizardUrl('pre-enquiry', 'STATE_CHANGE_EMPLOYEES_AND_INTERNATIONAL_JOURNEYS') -%}#}

{#        {{ gdsComponents.summaryListRow('Company name', response.companyName, {(urlCompanyName): 'Change'}) }}#}
{#        {{ gdsComponents.summaryListRow("Total vehicle count\n(> 3.5 tonnes gross)", response.totalVehicleCount, {(urlVehicleQuestions): 'Change'}) }}#}
{#        {{ gdsComponents.summaryListRow('Vehicles used to conduct international journeys', response.internationalJourneyVehicleCount, {(urlVehicleQuestions): 'Change'}) }}#}
{#        {{ gdsComponents.summaryListRow('Employee count', response.employeeCount, {(urlEmployeesAndInternationalJourneys): 'Change'}) }}#}
{#        {{ gdsComponents.summaryListRow('International journey estimate (Annual)', response.annualJourneyEstimate, {(urlEmployeesAndInternationalJourneys): 'Change'}) }}#}
{#    </dl>#}

{#    <h2 class="govuk-heading-m">Correspondence details</h2>#}
{#    <dl class="govuk-summary-list govuk-!-margin-bottom-9">#}
{#        {%- set urlCorrespondenceDetails = wizardUrl('pre-enquiry', 'STATE_CHANGE_CORRESPONDENCE_DETAILS') -%}#}
{#        {%- set urlCorrespondenceAddress = wizardUrl('pre-enquiry', 'STATE_CHANGE_CORRESPONDENCE_ADDRESS') -%}#}

{#        {{ gdsComponents.summaryListRow('Name', response.correspondenceName, {(urlCorrespondenceDetails): 'Change'}) }}#}
{#        {{ gdsComponents.summaryListRow('Email', response.email, {(urlCorrespondenceDetails): 'Change'}) }}#}
{#        {{ gdsComponents.summaryListRow('Phone', response.phone, {(urlCorrespondenceDetails): 'Change'}) }}#}
{#        {{ gdsComponents.summaryListRow('Address', response.correspondenceAddress, {(urlCorrespondenceAddress): 'Change'}) }}#}
{#    </dl>#}

{#    {{ form(form) }}#}
{% endblock %}