{% set translation_prefix = 'international.vehicles' %}
{% extends 'international_survey/base.html.twig' %}

{% block beforeContent %}{% endblock %}

{% block content %}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import actionLinks, tableCell, tableHead -%}
    {%- from 'macros.html.twig' import displayAxleConfiguration -%}

    <h1 class="page-heading__heading govuk-heading-xl">IRHS Summary</h1>

    {%- if response.isInitialDetailsSignedOff() | default(false) -%}
        <h2 class="page-heading__heading govuk-heading-l">Business and Correspondence details</h2>

        <p class="govuk-body">
            {%- set businessDashboardRoute = constant('App\\Controller\\InternationalSurvey\\BusinessAndCorrespondenceDetailsController::SUMMARY_ROUTE') -%}
            <a href="{{ url(businessDashboardRoute) }}">View/change the business and correspondence details you have already entered</a>
        </p>

        <h2 class="page-heading__heading govuk-heading-l">Vehicles</h2>

        <table class="govuk-table">
            {{ tableHead(false, ['Registration', 'Type/configuration', 'Status', '']) }}
            <tbody class="govuk-table__body">
            {%- for vehicle in vehicles %}
            <tr class="govuk-table__row">
                {%- set vehicleRoute = constant('App\\Controller\\InternationalSurvey\\VehicleController::VEHICLE_ROUTE') -%}
                {%- set viewContents = actionLinks({(url(vehicleRoute, {id: vehicle.id})): 'View'}) -%}

                {{ tableCell(vehicle.formattedRegistrationMark) }}
                {{ tableCell(displayAxleConfiguration(vehicle.axleConfiguration)) }}
                {{ tableCell('-') }}
                {{ tableCell(viewContents, {actions: true}) }}
            </tr>
            {% else %}
            <tr class="govuk-table__row">
                {{ tableCell('No vehicles', {colSpan: 4}) }}
            </tr>
            {%- endfor %}
            </tbody>
        </table>

        <p class="govuk-body">
            {%- set addVehicleRoute = constant('App\\Controller\\InternationalSurvey\\VehicleAddController::START_ROUTE') -%}
            <a href="{{ url(addVehicleRoute) }}" class="govuk-button">Add vehicle</a>
        </p>
    {% endif %}
{% endblock %}