{% set translation_prefix = 'international.vehicles' %}
{% extends 'international_survey/base.html.twig' %}

{% block beforeContent %}{% endblock %}

{% block content %}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import actionLinks, tableCell, tableHead -%}
    {%- from 'macros.html.twig' import displayAxleConfiguration -%}

    <h1 class="page-heading__heading govuk-heading-xl">{{ 'international.summary.title'|trans }}</h1>

    {%- if response.isInitialDetailsSignedOff() | default(false) -%}
        <h2 class="page-heading__heading govuk-heading-l">{{ 'international.summary.correspondence-and-business-details'|trans }}</h2>

        <p class="govuk-body">
            {%- set businessDashboardRoute = constant('App\\Controller\\InternationalSurvey\\BusinessAndCorrespondenceDetailsController::SUMMARY_ROUTE') -%}
            <a href="{{ url(businessDashboardRoute) }}">{{ 'international.summary.view-business-and-correspondence-details'|trans }}</a>
        </p>

        <h2 class="page-heading__heading govuk-heading-l">{{ 'international.summary.vehicles'|trans }}</h2>

        <table class="govuk-table">
            {{ tableHead(false, ['international.summary.registration', 'international.summary.type-and-configuration', 'international.summary.status', '']) }}
            <tbody class="govuk-table__body">
            {%- for vehicle in vehicles %}
            <tr class="govuk-table__row">
                {%- set vehicleRoute = constant('App\\Controller\\InternationalSurvey\\VehicleController::VEHICLE_ROUTE') -%}
                {%- set viewContents = actionLinks({(url(vehicleRoute, {vehicleId: vehicle.id})): 'common.actions.view'|trans}) -%}

                {{ tableCell(vehicle.formattedRegistrationMark) }}
                {{ tableCell(displayAxleConfiguration(vehicle.axleConfiguration)) }}
                {{ tableCell('-') }}
                {{ tableCell(viewContents, {actions: true}) }}
            </tr>
            {% else %}
            <tr class="govuk-table__row">
                {{ tableCell('international.summary.no-vehicles'|trans, {colSpan: 4}) }}
            </tr>
            {%- endfor %}
            </tbody>
        </table>

        <p class="govuk-body">
            {%- set addVehicleRoute = constant('App\\Controller\\InternationalSurvey\\VehicleAddController::START_ROUTE') -%}
            <a href="{{ url(addVehicleRoute) }}" class="govuk-button">{{ 'common.actions.add-vehicle'|trans }}</a>
        </p>
    {% endif %}
{% endblock %}