{% macro attributes(attr) %}
    {{ block('attributes', 'form_div_layout.html.twig') }}
{% endmacro %}

{% macro summaryListRow(key, value, actions, options) -%}
    <div class="govuk-summary-list__row {{ options.row_class | default('') }}">
        <dt class="govuk-summary-list__key">{{ key | nl2br }}</dt>
        <dd class="govuk-summary-list__value">{{ value | nl2br }}</dd>
        <dd class="govuk-summary-list__actions">
            {{- _self.actionLinks(actions) -}}
        </dd>
    </div>
{%- endmacro %}

{% macro actionLinks(actionLinks) %}
    {%- if actionLinks | length == 1 -%}
        {{- _self.actionLink((actionLinks | keys) | first, actionLinks | first) -}}
    {%- else -%}
        <ul class="govuk-summary-list__actions-list">
            {%- for url, action in actionLinks -%}
                <li class="govuk-summary-list__actions-list-item">
                    {{- _self.actionLink(url, action) -}}
                </li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{% endmacro %}

{# action can either be string with action, or array [action, actionHidden] #}
{% macro actionLink(url, action) -%}
    {%- if action | default(false) -%}
        {%- if action is iterable -%}
            {%- set actionHidden = action[1] -%}
            {%- set action = action[0] -%}
        {%- endif -%}
        <a class="govuk-link" href="{{ url }}">
            {{- action }}{% if actionHidden | default(false) %}<span class="govuk-visually-hidden"> {{ actionHidden }}</span>{% endif -%}
        </a>
    {%- endif -%}
{%- endmacro %}

