{% macro attributes(attr) %}
    {{ block('attributes', 'form_div_layout.html.twig') }}
{% endmacro %}

{% macro breadcrumbs(params) -%}
    {%- strict false -%}
        {%- include '@GhostGovUkFrontend/components/breadcrumbs/template.html.twig' -%}
    {% endstrict -%}
{%- endmacro %}

{% macro footer(params) -%}
    {%- strict false -%}
        {%- include '@GhostGovUkFrontend/components/footer/template.html.twig' -%}
    {% endstrict -%}
{%- endmacro %}

{% macro header(params) -%}
    {%- strict false -%}
        {%- include '@GhostGovUkFrontend/components/header/template.html.twig' -%}
    {% endstrict -%}
{%- endmacro %}

{% macro phaseBanner(params) -%}
    {%- strict false -%}
        {%- include '@GhostGovUkFrontend/components/phase-banner/template.html.twig' -%}
    {% endstrict -%}
{%- endmacro %}

{% macro skipLink(params) -%}
    {%- strict false -%}
        {%- include '@GhostGovUkFrontend/components/skip-link/template.html.twig' -%}
    {% endstrict -%}
{%- endmacro %}

{% macro summaryList() -%}
    {%- strict false -%}
        {%- include '@GhostGovUkFrontend/components/summary-list/template.html.twig' -%}
    {% endstrict -%}
{%- endmacro %}

{% macro tag(params) -%}
    {%- strict false -%}
        {%- include '@GhostGovUkFrontend/components/tag/template.html.twig' -%}
    {% endstrict -%}
{%- endmacro %}

{% macro buttonLink(href, text, options) -%}
    <a href="{{ href }}" role="button" draggable="false" class="govuk-button {{ options.class | default("") }}" data-module="govuk-button">
        {{- text -}}
    </a>
{%- endmacro %}

{% macro optionalActionsSummaryListRow(showActions, key, value, actions, options) -%}
    {%- if showActions -%}
        {{- _self.summaryListRow(key, value, actions, options) -}}
    {%- else -%}
        {{- _self.actionlessSummaryListRow(key, value, options) -}}
    {%- endif -%}
{%- endmacro %}

{% macro actionlessSummaryListRow(key, value, options) -%}
    {{- _self.summaryListRow(key, value, null, options | default({}) | merge({hideActions: true})) -}}
{%- endmacro %}

{% macro summaryListRow(key, value, actions, options) -%}
    <div class="govuk-summary-list__row {{ options.row_class | default('') }}">
        <dt class="govuk-summary-list__key">{{ key | trans | nl2br }}</dt>
        <dd class="govuk-summary-list__value">{{ value | nl2br }}</dd>
        {% if not (options.hideActions | default(false)) %}
            <dd class="govuk-summary-list__actions">
                {{- _self.actionLinks(actions) -}}
            </dd>
        {% endif %}
    </div>
{%- endmacro %}

{% macro actionLinks(actionLinks) %}
    {%- if actionLinks | length == 1 -%}
        {{- _self.actionLink((actionLinks | keys) | first, actionLinks | first) -}}
    {%- else -%}
        <ul class="govuk-summary-list__actions-list">
            {%- for url, action in actionLinks -%}
                <li class="govuk-summary-list__actions-list-item">
                    {{- _self.actionLink(url, action) -}}
                </li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{% endmacro %}

{# action can either be string with action, or array [action, actionHidden] #}
{% macro actionLink(url, action) -%}
    {%- if action | default(false) -%}
        {%- if action is iterable -%}
            {%- set actionHidden = action[1] -%}
            {%- set action = action[0] -%}
        {%- endif -%}
        <a class="govuk-link" href="{{ url }}">
            {{- action | trans }}{% if actionHidden | default(false) %}<span class="govuk-visually-hidden"> {{ actionHidden | trans }}</span>{% endif -%}
        </a>
    {%- endif -%}
{%- endmacro %}


{# Takes a simple array of headings as strings, eg ['Id', 'Name'] #}
{% macro tableHead(caption, columnHeadings, options) -%}
    {%- set columnDefinitions = {} -%}
    {%- for value in columnHeadings -%}
        {%- set columnDefinitions = columnDefinitions | merge({(value): {}}) -%}
    {%- endfor -%}

    {{ _self.tableHeadComplex(caption, columnDefinitions, options) }}
{%- endmacro %}

{# Takes an object (heading => options) , eg {'Id': {}, 'Age': {numeric: true} #}
{% macro tableHeadComplex(caption, columnDefinitions, options) -%}
    {%- set options = options | default({}) -%}
    {%- set translate = options.translate ?? true -%}

    {%- if caption | default(false) %}<caption class="govuk-table__caption">{{ translate ? (caption|trans) : caption }}</caption>{% endif -%}
    <thead class="govuk-table__head">
        {{ _self.tableRowComplex(columnDefinitions, {commonCellOptions: {element: 'th', translate: translate}}) }}
    </thead>
{%- endmacro %}

{% macro tableRowComplex(columnDefinitions, options) -%}
    <tr class="govuk-table__row">
        {%- for content, cellOptions in columnDefinitions -%}
            {{ _self.tableCell(content, (options.commonCellOptions | default({})) | merge(cellOptions)) }}
        {%- endfor -%}
    </tr>
{%- endmacro %}

{% macro tableCell(value, options) -%}
    {% set element = options.element | default('td') %}
    {% set baseClass = ((element == 'td') ? 'govuk-table__cell' : 'govuk-table__header') %}
    {%- with {
        options: (options | default({})) | merge({
            class: ("#{baseClass} "
                ~ ((options.actions | default(false)) or (options.numeric | default(false)) ? "#{baseClass}--numeric " : '')
                ~ (options.class | default(''))
            ) | trim,
            colSpan: options.colSpan | default(false),
            rowSpan: options.rowSpan | default(false),
        })
    } -%}
    <{{ element }} class="{{ options.class }}"
            {%- if element == 'th' %}scope="{{ options.scope | default('col') }}"{% endif -%}
            {%- if options.colSpan %} colspan="{{ options.colSpan }}"{% endif -%}
            {%- if options.rowSpan %} rowspan="{{ options.rowSpan }}"{% endif -%}
    >
            {%- if options.translate | default(false) -%}
                {{ options.content | default(value) | trans | nl2br }}
            {%- elseif options.html | default(false) -%}
                {{ options.content | default(value) | raw }}
            {%- else -%}
                {{ options.content | default(value) | nl2br }}
            {%- endif -%}</{{ element }}>
        {%- endwith -%}
{%- endmacro %}


{% macro tabsHead(tabs, options) -%}
    {%- set options = {
        selected: (tabs | keys | first) | default(''),
    } | merge(options | default({})) -%}
    <h2 class="govuk-tabs__title">
        Contents
    </h2>
    <ul class="govuk-tabs__list">
        {%- for label, tab in tabs -%}
            {%- set tabId = (tab is iterable) ? tab.id : tab -%}
            {%- set tabOptions = (tab is iterable) ? tab.options : {} -%}
            <li class="govuk-tabs__list-item {% if label == options.selected %}govuk-tabs__list-item--selected{% endif %}">
                <a class="govuk-tabs__tab" href="#{{ tabId }}">
                    {{- label -}}
                </a>
            </li>
        {%- endfor -%}
    </ul>
{%- endmacro %}

{% macro notificationBanner(notification) -%}
    {%- set type = notification.options.type | default(false) -%}
    <div class="govuk-notification-banner {% if type %}govuk-notification-banner--{{ type }}{% endif %}" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                {{- notification.title -}}
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
                {{- notification.heading -}}
            </p>
            {{ notification.content | raw }}
        </div>
    </div>
{%- endmacro %}

{% macro warningText(content) -%}
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            {{- content -}}
        </strong>
    </div>
{%- endmacro %}