{% set translation_prefix = 'pre-enquiry.summary' %}
{% extends 'pre_enquiry/base.html.twig' %}

{% block beforeContent %}{% endblock %}

{% block content %}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import notificationBanner, summaryListStart, summaryListEnd, summaryListRow -%}

    {%- if maintenanceWarningBanner ?? false -%}
        {{- notificationBanner(maintenanceWarningBanner) -}}
    {%- endif -%}

    <h1 class="govuk-heading-xl">{{ 'pre-enquiry.summary.heading' | trans }}</h1>
    <h2 class="govuk-heading-m">{{ 'pre-enquiry.summary.business-details' | trans }}</h2>

    {{- summaryListStart({classes: 'govuk-!-margin-bottom-' ~ (marginBottom ?? 9)}) -}}
        {%- set response = preEnquiry.response -%}

        {%- set companyNameAction = [
            {
                href: wizardUrl('pre-enquiry', 'STATE_COMPANY_NAME'),
                text: 'common.actions.change' | trans,
                visuallyHiddenText: 'pre-enquiry.summary.company-name' | trans,
            }
        ] -%}
        {%- set vehicleDetailsAction = [
            {
                href: wizardUrl('pre-enquiry', 'STATE_VEHICLE_QUESTIONS'),
                text: 'common.actions.change' | trans,
                visuallyHiddenText: 'pre-enquiry.summary.vehicle-details' | trans,
            }
        ] -%}
        {%- set employeeCountAction = [
            {
                href: wizardUrl('pre-enquiry', 'STATE_BUSINESS_DETAILS'),
                text: 'common.actions.change' | trans,
                visuallyHiddenText: 'pre-enquiry.summary.employee-count' | trans,
            }
        ] -%}

        {{- summaryListRow({
            key: 'pre-enquiry.summary.company-name' | trans,
            value: response.companyName,
            actions: companyNameAction,
        }) -}}
        {{- summaryListRow({
            key: 'pre-enquiry.summary.total-vehicle-count' | trans,
            value: response.totalVehicleCount,
            actions: vehicleDetailsAction,
        }) -}}
        {{- summaryListRow({
            key: 'pre-enquiry.summary.international-journey-vehicle-count' | trans,
            value: response.internationalJourneyVehicleCount,
            actions: vehicleDetailsAction,
        }) -}}
        {{- summaryListRow({
            key: 'pre-enquiry.summary.annual-journey-estimate' | trans,
            value: response.annualJourneyEstimate,
            actions: vehicleDetailsAction,
        }) -}}
        {{- summaryListRow({
            key: 'pre-enquiry.summary.number-of-employees' | trans,
            value: response.numberOfEmployees,
            actions: employeeCountAction,
        }) -}}
    {{- summaryListEnd() -}}

    <h2 class="govuk-heading-m">{{ 'pre-enquiry.summary.correspondence-details' | trans }}</h2>
    {{- summaryListStart({classes: 'govuk-!-margin-bottom-' ~ (marginBottom ?? 9)}) -}}

        {%- set correspondenceDetailsAction = [
            {
                href: wizardUrl('pre-enquiry', 'STATE_CORRESPONDENCE_DETAILS'),
                text: 'common.actions.change' | trans,
                visuallyHiddenText: 'pre-enquiry.summary.correspondence-details' | trans,
            }
        ] -%}
        {%- set correspondenceAddressAction = [
            {
                href: wizardUrl('pre-enquiry', 'STATE_CORRESPONDENCE_ADDRESS'),
                text: 'common.actions.change' | trans,
                visuallyHiddenText: 'pre-enquiry.summary.correspondence-address' | trans,
            }
        ] -%}

        {{- summaryListRow({
            key: 'pre-enquiry.summary.name' | trans,
            value: response.contactName,
            actions: correspondenceDetailsAction,
        }) -}}
        {{- summaryListRow({
            key: 'pre-enquiry.summary.email' | trans,
            value: response.contactEmail,
            actions: correspondenceDetailsAction,
        }) -}}
        {{- summaryListRow({
            key: 'pre-enquiry.summary.phone' | trans,
            value: response.contactTelephone,
            actions: correspondenceDetailsAction,
        }) -}}
        {{- summaryListRow({
            key: 'pre-enquiry.summary.address' | trans,
            value: {html: response.contactAddress | formatAddress(true, false) | default('-') | nl2br},
            actions: correspondenceAddressAction,
        }) -}}
    {{- summaryListEnd() -}}

    {{ form(form) }}
{% endblock %}