{% extends 'domestic_survey/base.html.twig' %}

{% block content %}
    {% from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListRow, buttonLink, actionLinks %}

    <h1 class="page-heading__heading govuk-heading-xl">Day record ({{ day.response.survey.startDateModifiedBy('+' ~ (day.number-1) ~ ' days') | date('jS F, Y') }})</h1>

    {% if day.hasMoreThanFiveStops %}
        <h2 class="govuk-heading-m">Summary day (more than 5 stops)</h2>
        {% if day.summary | default(false) %}
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                {{ summaryListRow('Start location', day.summary.originLocation | default('-')) }}
                {{ summaryListRow('Destination location', day.summary.destinationLocation | default('-')) }}
            </dl>
        {% else %}
            <p class="govuk-body">
                You haven't entered any information for this day yet.
            </p>
            <p class="govuk-body">
                {{ buttonLink(url('app_domesticsurvey_daysummary_start', {dayNumber: day.number}), 'Enter information for this journey') }}
            </p>
        {% endif %}
    {% else %}
        <h2 class="govuk-heading-m">Detailed day</h2>
        <table class="govuk-table">
            <caption class="govuk-table__caption">Legs/stops for this day</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Origin</th>
                    <th scope="col" class="govuk-table__header">Destination</th>
                    <th scope="col" class="govuk-table__header">Distance</th>
                    <th scope="col" class="govuk-table__header">Goods</th>
                    <th scope="col" class="govuk-table__header"></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for stop in day.stops %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">{{ stop.originLocation }}{% if stop.goodsLoadedIsPort %} ({{ "domestic.transferred-port.options.#{stop.goodsTransferredFrom}" | trans }}){% endif %}</td>
                        <td class="govuk-table__cell">{{ stop.destinationLocation }}{% if stop.goodsUnloadedIsPort %} ({{ "domestic.transferred-port.options.#{stop.goodsTransferredTo}" | trans }}){% endif %}</td>
                        <td class="govuk-table__cell">{{ stop.distanceTravelled }}</td>
                        <td class="govuk-table__cell">
                            {{- stop.goodsDescription == constant('App\\Entity\\Domestic\\Day::GOODS_DESCRIPTION_OTHER')
                                ? stop.goodsDescriptionOther
                                : ("domestic.goods-description.options.#{stop.goodsDescription}" | trans)
                            -}}
                            {%- if stop.cargoTypeCode | default(false) %} / {{
                                "goods.cargo-type.options.#{stop.cargoTypeCode}" | trans
                            -}}
                            {%- endif -%}
                        </td>
                        <td class="govuk-table__cell">{{ actionLinks({(url('app_domesticsurvey_daystop_start', {dayNumber: day.number, legNumber: stop.number})): 'Change'}) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="govuk-body">
            {{ buttonLink(url('app_domesticsurvey_daystop_start', {dayNumber: day.number}), 'Add a leg for this journey') }}
        </p>
    {% endif %}

    <p class="govuk-body">
        <a href="{{ url('app_domesticsurvey_index') }}">Back to dashboard</a>
    </p>
{% endblock %}
