{% extends 'domestic_survey/base.html.twig' %}

{% block content %}
    {% from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListRow, buttonLink %}

    <h1 class="page-heading__heading govuk-heading-xl">Day record ({{ day.response.survey.startDateModifiedBy('+' ~ (day.number-1) ~ ' days') | date('jS F, Y') }})</h1>

    {% if day.hasMoreThanFiveStops %}
        <h2 class="govuk-heading-m">Summary day (more than 5 stops)</h2>
        {% if day.summary | default(false) %}
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                {{ summaryListRow('Start location', day.summary.originLocation | default('-')) }}
                {{ summaryListRow('Destination location', day.summary.destinationLocation | default('-')) }}
            </dl>
        {% else %}
            <p class="govuk-body">
                You haven't entered any information for this day yet.
            </p>
            <p class="govuk-body">
                {{ buttonLink(url('app_domesticsurvey_daysummary_start', {dayNumber: day.number}), 'Enter information for this journey') }}
            </p>
        {% endif %}
    {% else %}
        <h2 class="govuk-heading-m">Detailed day</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            {% for stop in day.stops %}
                {% set actionLinks = {(url('app_domesticsurvey_daystop_start', {dayNumber: day.number, legNumber: stop.number})): 'Change'} %}
                {{ summaryListRow("Leg #{loop.index}", "#{stop.originLocation} to #{stop.destinationLocation}", actionLinks) }}
{#                {% set limitedActions = {(url('app_domesticsurvey_daystop_index', {dayNumber: day.number, state: constant('App\\Workflow\\DomesticSurvey\\DayStopState::STATE_GOODS_WEIGHT')})): 'Change'} %}#}
{#                {{ summaryListRow('Capacity limited?', (stop.wasLimitedBySpace ? 'Space' : '') ~ (stop.wasLimitedByWeight ? 'Weight' : ''), limitedActions) }}#}
        {% else %}
            No journey legs have been recorded for this day yet
        {% endfor %}
        </dl>
        <p class="govuk-body">
            {{ buttonLink(url('app_domesticsurvey_daystop_start', {dayNumber: day.number}), 'Add a leg for this journey') }}
        </p>
    {% endif %}

    {{ buttonLink(url('app_domesticsurvey_index'), 'View survey summary', {class: 'govuk-button--secondary'}) }}
{% endblock %}
