{% extends 'base.html.twig' %}

{% block title %}Domestic Pre-Sruvey Wizard{% endblock %}

{% block content %}
    {% import '@GhostGovUkFrontend/components/component-macros.html.twig' as gdsComponents %}
    <h1 class="page-heading__heading govuk-heading-xl">CSRGT summary</h1>

    <h2 class="govuk-heading-m">Contact details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        {% set contactDetailsActionLinks = {(url('app_domesticsurvey_initialdetails_index', {state: constant('App\\Workflow\\DomesticSurvey\\InitialDetailsState::STATE_CHANGE_CONTACT_DETAILS')})): 'Change'} %}
        {{ gdsComponents.summaryListRow('Name', domesticSurvey.surveyResponse.contactName, contactDetailsActionLinks) }}
        {{ gdsComponents.summaryListRow('Telephone', domesticSurvey.surveyResponse.contactTelephone, contactDetailsActionLinks) }}
        {{ gdsComponents.summaryListRow('Email address', domesticSurvey.surveyResponse.contactEmail, contactDetailsActionLinks) }}
        {% set canCompleteActionLinks = {(url('app_domesticsurvey_initialdetails_index', {state: constant('App\\Workflow\\DomesticSurvey\\InitialDetailsState::STATE_ASK_COMPLETABLE')})): 'Change'} %}
        {{ gdsComponents.summaryListRow('Can complete survey?', domesticSurvey.surveyResponse.ableToComplete ? 'Yes' : 'No', canCompleteActionLinks) }}
        {% if (not domesticSurvey.surveyResponse.ableToComplete) or domesticSurvey.surveyResponse.unableToCompleteReason == constant('App\\Entity\\DomesticSurveyResponse::REASON_ON_HIRE') %}
            {{ gdsComponents.summaryListRow('Reason for not completing', (constant('App\\Entity\\DomesticSurveyResponse::REASON_TRANSLATION_PREFIX') ~ domesticSurvey.surveyResponse.unableToCompleteReason) | trans, canCompleteActionLinks) }}
        {% endif %}
    </dl>

    {% if domesticSurvey.surveyResponse.unableToCompleteReason == constant('App\\Entity\\DomesticSurveyResponse::REASON_ON_HIRE') %}
        <h2 class="govuk-heading-m">Hiree details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            {% set hireeDetailsActionLinks = {(url('app_domesticsurvey_initialdetails_index', {state: constant('App\\Workflow\\DomesticSurveyInitialDetailsState::STATE_ASK_HIREE_DETAILS')})): 'Change'} %}
            {{ gdsComponents.summaryListRow('Hiree name', domesticSurvey.surveyResponse.hireeName, hireeDetailsActionLinks) }}
            {{ gdsComponents.summaryListRow('Hiree email', domesticSurvey.surveyResponse.hireeEmail, hireeDetailsActionLinks) }}
            {{ gdsComponents.summaryListRow('Hiree address', domesticSurvey.surveyResponse.hireeAddress, hireeDetailsActionLinks) }}
        </dl>
    {% endif %}

    <h2 class="govuk-heading-m">Next steps</h2>
    <p class="govuk-body">
        <a href="{{ url('app_domesticsurvey_vehicleandbusinessdetails_start') }}">Add/confirm vehicle and business details</a>
        <br>
        <a href="{{ url('app_domesticsurvey_daymultiple_start', {day: 1}) }}">Add step to day 1</a>
    </p>

    <h2 class="govuk-heading-m">Your survey week</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        {% for dayNumber in 1..7 %}
            {% set day = domesticSurvey.surveyResponse.stopDayByNumber(dayNumber) %}
            {{ gdsComponents.summaryListRow(
                "Day #{dayNumber}",
                day ? 'day exists' : 'nothing recorded'
            ) }}
        {% endfor %}
    </dl>

{% endblock %}
