{%- macro listTableStart(data, form) -%}
    {%- from "@GhostGovUkFrontend/components/macros.html.twig" import tableStart, tableBodyStart -%}
    {{- form_start(form) -}}

    {{- tableStart({classes: 'list-table'}) -}}
        {{- _self.tableHeader(data, form) -}}
        {{- tableBodyStart() -}}
{%- endmacro -%}

{%- macro listTableEnd(listPageData, form, enable_pagination=true) -%}
    {%- from "@GhostGovUkFrontend/components/macros.html.twig" import pagination, tableEndIncludingBody -%}
    {{- tableEndIncludingBody() -}}

    {{- form_end(form) -}}

    {%- if enable_pagination -%}
        <div class="pagination-container">
            {{- pagination(listPageData.getPaginationData) -}}
        </div>
    {%- endif -%}
{%- endmacro -%}

{%- macro tableHeader(data, form) -%}
    {%- from '@GhostGovUkFrontend/components/table/macros.html.twig' import tableHeader, tableRowStart, tableRowEnd, tableHeadStart, tableHeadEnd -%}
    {{- tableHeadStart() -}}
    {{- tableRowStart() -}}
        {%- for field in data.fields -%}
            {%- set contents -%}
            {%- autoescape false -%}
                <div>
                    {%- if form[field.id] is defined -%}
                        {{- form_label(form[field.id]) -}}
                        {{- form_widget(form[field.id]) -}}
                    {%- else -%}
                        {{- field.label|e|nl2br -}}
                    {%- endif -%}
                    {%- if field.getSortable -%}
                        {%- set upActive = (data.order == field.id) and (data.orderDirection == 'ASC') -%}
                        <a href="{{ data.callOrderUrlGenerator(field.id, 'ASC') }}" class="list-table__order--up{{ upActive ? ' list-table__order--active' : '' }}">
                            <span class="govuk-visually-hidden">Order by {{ field.label }}, ascending{{ upActive ? ' (currently active)' : '' }}</span>
                        </a>

                        {%- set downActive = (data.order == field.id) and (data.orderDirection == 'DESC') -%}
                        <a href="{{ data.callorderUrlGenerator(field.id, 'DESC') }}" class="list-table__order--down{{ downActive ? ' list-table__order--active' : '' }}">
                            <span class="govuk-visually-hidden">Order by {{ field.label }}, descending{{ downActive ? ' (currently active)' : '' }}</span>
                        </a>
                    {% endif %}
                </div>
            {%- endautoescape -%}
            {%- endset -%}

            {{- tableHeader(field.getCellOptions | merge({html: contents})) -}}
        {%- endfor -%}
        {%- set actionsContent -%}
            <div class="list-table--buttons">{{ form_rest(form) }}</div>
        {%- endset -%}
        {{- tableHeader({html: actionsContent}) -}}
    {{- tableRowEnd() -}}
    {{- tableHeadEnd() -}}
{%- endmacro -%}
