{% set translation_prefix = 'international.vehicle.summary' %}
{% extends 'international_survey/base.html.twig' %}

{% set headingParams = {
    regMark: vehicle.registrationMark|formatRegMark
} %}

{% block content %}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListRow, actionLinks, tableHeadComplex, tableCell -%}
    {%- from 'macros.html.twig' import displayAxleConfiguration -%}

    <h1 class="page-heading__heading govuk-heading-xl">{{ 'international.vehicle.summary.heading'|trans(headingParams) }}</h1>

    {%- set survey = vehicle.surveyResponse.survey -%}
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Company</dt>
            <dd class="govuk-summary-list__value">{{ survey.company.businessName }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ 'international.sidebar-summary.period'|trans }}</dt>
            <dd class="govuk-summary-list__value">
                <span class="nowrap">{{- survey.surveyPeriodStart | date('format.date.side-bar' | trans) -}}</span>
                {%- if survey.surveyPeriodInDays > 1 %} – <span class="nowrap">{{ survey.surveyPeriodEnd | date('format.date.side-bar' | trans) -}}</span>{% endif -%}
            </dd>
        </div>
    </dl>

    <h2 class="page-heading__heading govuk-heading-l">{{ 'international.vehicle.summary.basic-details'|trans }}</h2>

    {# Vehicle change Links #}
    {%- set params = {vehicleId: vehicle.id} -%}
    {%- set vehicleDetailsLink = {
        (wizardUrl('international-vehicle', 'STATE_CHANGE_VEHICLE_DETAILS', params)):
        {label: 'common.actions.change', srHiddenSuffix: 'international.vehicle.summary.change-link-sr-suffix.vehicle-details'}
    } -%}
    {%- set trailerConfigurationLink = {
        (wizardUrl('international-vehicle', 'STATE_CHANGE_VEHICLE_TRAILER_CONFIGURATION', params)):
        {label: 'common.actions.change', srHiddenSuffix: 'international.vehicle.summary.change-link-sr-suffix.trailer-configuration'}
    } -%}
    {%- set vehicleBodyLink = {
        (wizardUrl('international-vehicle', 'STATE_CHANGE_VEHICLE_BODY', params)):
        {label: 'common.actions.change', srHiddenSuffix: 'international.vehicle.summary.change-link-sr-suffix.body'}
    } -%}
    {%- set vehicleWeightLink = {
        (wizardUrl('international-vehicle', 'STATE_CHANGE_VEHICLE_WEIGHT', params)):
        {label: 'common.actions.change', srHiddenSuffix: 'international.vehicle.summary.change-link-sr-suffix.weights'}
    } -%}
    {%- set change = 'common.actions.change'|trans -%}

    <dl class="govuk-summary-list govuk-!-margin-bottom-5">
        {%- set operationChoices = constant('App\\Entity\\Vehicle::OPERATION_TYPE_CHOICES') -%}
        {{ summaryListRow('common.vehicle.registration-mark',
            vehicle.formattedRegistrationMark,
            vehicleDetailsLink
        ) }}
        {{ summaryListRow('common.vehicle.operation-type',
            choiceLabel(operationChoices, vehicle.operationType) | trans,
            vehicleDetailsLink
        ) }}

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Axle configuration</dt>
            <dd class="govuk-summary-list__value">{{ displayAxleConfiguration(vehicle.axleConfiguration) }}</dd>
            <dd class="govuk-summary-list__actions">
                {{- actionLinks(trailerConfigurationLink) -}}
            </dd>
        </div>

        {%- set bodyChoices = constant('App\\Entity\\Vehicle::BODY_CONFIGURATION_CHOICES') -%}
        {{ summaryListRow('common.vehicle.body-type' | trans,
            choiceLabel(bodyChoices, vehicle.bodyType) | trans,
            vehicleBodyLink
        ) }}
        {{ summaryListRow('common.vehicle.gross-weight' | trans,
            ('common.weight.kilograms'|trans({value: vehicle.grossWeight})),
            vehicleWeightLink
        ) }}
        {{ summaryListRow('common.vehicle.carrying-capacity' | trans,
            ('common.weight.kilograms'|trans({value: vehicle.carryingCapacity})),
            vehicleWeightLink
        ) }}
    </dl>

    <div class="govuk-!-margin-bottom-9">
        <a class="govuk-button govuk-button--warning"
           href="{{ path('app_internationalsurvey_vehicle_delete', {vehicleId: vehicle.id}) }}">Delete
            vehicle</a>
    </div>


    <h2 class="page-heading__heading govuk-heading-l">{{ 'international.vehicle.summary.trips'|trans }}</h2>

    <table class="govuk-table">
        {{ tableHeadComplex(false, {'Dates': {}, 'Outward journey': {}, 'Return journey': {}, ('common.actions.table-heading' | trans): {html: true}}) }}{# 'Status' #}
        <tbody class="govuk-table__body">
        {%- for trip in vehicle.trips %}
            <tr class="govuk-table__row">
                {%- set tripRoute = constant('App\\Controller\\InternationalSurvey\\TripController::TRIP_ROUTE') -%}
                {%- set viewContents = actionLinks({
                    (url(tripRoute, {id: trip.id})):
                    {label: 'common.actions.view', srHiddenSuffix: 'international.vehicle.summary.view-trip-sr-link-suffix', srHiddenSuffixParams: {tripDate: trip.outboundDate}}
                }) -%}

                {{ tableCell('international.trip.summary.date-until-date'|trans({
                    'from': trip.outboundDate|date('format.date.default' | trans),
                    'until': trip.returnDate|date('format.date.default' | trans),
                })
                ) }}

                {{ tableCell('international.trip.summary.origin-to-destination'|trans({
                    'origin': trip.outboundUkPort|capitalize,
                    'destination': trip.outboundForeignPort|capitalize,
                })) }}
                {{ tableCell('international.trip.summary.origin-to-destination'|trans({
                    'origin': trip.returnForeignPort|capitalize,
                    'destination': trip.returnUkPort|capitalize,
                })) }}
                {# {{ tableCell('-') }} #}
                {{ tableCell(viewContents, {actions: true}) }}
            </tr>
        {% else %}
            <tr class="govuk-table__row">
                {{ tableCell('international.vehicle.summary.no-trips'|trans, {colSpan: 4}) }}
            </tr>
        {%- endfor %}
        </tbody>
    </table>

    <div>
        {%- set dashboardUrl = url(constant('App\\Controller\\InternationalSurvey\\IndexController::SUMMARY_ROUTE')) -%}
        {%- set addTripRoute = constant('App\\Controller\\InternationalSurvey\\TripAddController::START_ROUTE') -%}
        <a href="{{ url(addTripRoute, {vehicleId: vehicle.id}) }}"
           class="govuk-button govuk-!-margin-bottom-9">{{ 'common.actions.add-trip'|trans }}</a>
    </div>

    <hr class="govuk-!-margin-bottom-9">
    <div>
        {%- if vehicle.trips.count() > 0 -%}
            <a href="{{ dashboardUrl }}"
               class="govuk-button">{{ 'international.trip.summary.actions.vehicle-complete'|trans }}</a>
        {%- endif -%}
        <a href="{{ dashboardUrl }}"
           class="govuk-button govuk-button--secondary">{{ 'common.actions.back-to-dashboard'|trans }}</a>
    </div>

{% endblock %}