{% set translation_prefix = 'international.vehicle.summary' %}
{% extends 'international_survey/base.html.twig' %}

{% set headingParams = {
    regMark: vehicle.registrationMark | formatRegMark
} %}

{% block content %}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListStart, summaryListEnd, summaryListRow, tableStart, tableBodyStart, tableEndIncludingBody, tableHead, tableRow, summaryListActionsList -%}
    {%- from 'macros.html.twig' import displayAxleConfiguration -%}

    <h1 class="page-heading__heading govuk-heading-xl">{{ 'international.vehicle.summary.heading' | trans(headingParams) }}</h1>

    {%- set survey = vehicle.surveyResponse.survey -%}
    {{- summaryListStart({classes: 'govuk-!-margin-bottom-9'}) -}}
        {{- summaryListRow({
            key: 'Company',
            value: survey.company.businessName
        }) -}}

        {%- set surveyPeriodValue -%}
            <span class="nowrap">{{- survey.surveyPeriodStart | date('format.date.side-bar' | trans) -}}</span>
            {%- if survey.surveyPeriodInDays > 1 %} – <span class="nowrap">{{ survey.surveyPeriodEnd | date('format.date.side-bar' | trans) -}}</span>{% endif -%}
        {%- endset -%}
        {{- summaryListRow({
            key: 'international.sidebar-summary.period' | trans,
            value: {html: surveyPeriodValue}
        }) -}}
    {{- summaryListEnd() -}}

    <h2 class="page-heading__heading govuk-heading-l">{{ 'international.vehicle.summary.basic-details' | trans }}</h2>

    {# Vehicle change Links #}
    {%- set params = {vehicleId: vehicle.id} -%}
    {%- set vehicleDetailsLink = [
        {
            href: wizardUrl('international-vehicle', 'STATE_CHANGE_VEHICLE_DETAILS', params),
            text: 'common.actions.change' | trans,
            visuallyHiddenText: 'international.vehicle.summary.change-link-sr-suffix.vehicle-details' | trans,
        }
    ] -%}
    {%- set trailerConfigurationLink = [
        {
            href: wizardUrl('international-vehicle', 'STATE_CHANGE_VEHICLE_TRAILER_CONFIGURATION', params),
            text: 'common.actions.change' | trans,
            visuallyHiddenText: 'international.vehicle.summary.change-link-sr-suffix.trailer-configuration' | trans,
        }
    ] -%}
    {%- set vehicleBodyLink = [
        {
            href: wizardUrl('international-vehicle', 'STATE_CHANGE_VEHICLE_BODY', params),
            text: 'common.actions.change' | trans,
            visuallyHiddenText: 'international.vehicle.summary.change-link-sr-suffix.body' | trans,
        }
    ] -%}
    {%- set vehicleWeightLink = [
        {
            href: wizardUrl('international-vehicle', 'STATE_CHANGE_VEHICLE_WEIGHT', params),
            text: 'common.actions.change' | trans,
            visuallyHiddenText: 'international.vehicle.summary.change-link-sr-suffix.weights' | trans,
        }
        ] -%}
    {%- set change = 'common.actions.change' | trans -%}

    {{- summaryListStart({classes: 'govuk-!-margin-bottom-5'}) -}}
        {%- set operationChoices = constant('App\\Entity\\Vehicle::OPERATION_TYPE_CHOICES') -%}
        {{- summaryListRow({
            key: 'common.vehicle.registration-mark' | trans,
            value: vehicle.formattedRegistrationMark,
            actions: vehicleDetailsLink,
        }) -}}
        {{- summaryListRow({
            key: 'common.vehicle.operation-type' | trans,
            value: choiceLabel(operationChoices, vehicle.operationType) | trans,
            actions: vehicleDetailsLink,
        }) -}}
        {{- summaryListRow({
            key: 'Axle configuration',
            value: {html: displayAxleConfiguration(vehicle.axleConfiguration)},
            actions: trailerConfigurationLink,
        }) -}}

        {%- set bodyChoices = constant('App\\Entity\\Vehicle::BODY_CONFIGURATION_CHOICES') -%}
        {{- summaryListRow({
            key: 'common.vehicle.body-type' | trans,
            value: choiceLabel(bodyChoices, vehicle.bodyType) | trans,
            actions: vehicleBodyLink,
        }) -}}
        {{- summaryListRow({
            key: 'common.vehicle.gross-weight' | trans,
            value: ('common.weight.kilograms' | trans({value: vehicle.grossWeight})),
            actions: vehicleWeightLink,
        }) -}}
        {{- summaryListRow({
            key: 'common.vehicle.carrying-capacity' | trans,
            value: ('common.weight.kilograms' | trans({value: vehicle.carryingCapacity})),
            actions: vehicleWeightLink,
        }) -}}
    {{- summaryListEnd() -}}

    <div class="govuk-!-margin-bottom-9">
        <a class="govuk-button govuk-button--warning"
           href="{{ path('app_internationalsurvey_vehicle_delete', {vehicleId: vehicle.id}) }}">Delete
            vehicle</a>
    </div>


    <h2 class="page-heading__heading govuk-heading-l">{{ 'international.vehicle.summary.trips' | trans }}</h2>

    {{- tableStart() -}}
        {{- tableHead([
            'Dates',
            'Outward journey',
            'Return journey',
            {html: 'common.actions.table-heading' | trans},
        ]) -}}
        {{- tableBodyStart() -}}
        {%- for trip in vehicle.trips %}
            {%- set actions = [
                {
                    href: url(constant('App\\Controller\\InternationalSurvey\\TripController::TRIP_ROUTE'), {id: trip.id}),
                    text: 'common.actions.view' | trans,
                    visuallyHiddenText: 'international.vehicle.summary.view-trip-sr-link-suffix' | trans({tripDate: trip.outboundDate}),
                }
            ] -%}

            {{- tableRow([
                'international.trip.summary.date-until-date' | trans({
                    'from': trip.outboundDate | date('format.date.default' | trans),
                    'until': trip.returnDate | date('format.date.default' | trans),
                }),
                'international.trip.summary.origin-to-destination' | trans({
                    'origin': trip.outboundUkPort | capitalize,
                    'destination': trip.outboundForeignPort | capitalize,
                }),
                'international.trip.summary.origin-to-destination' | trans({
                    'origin': trip.returnForeignPort | capitalize,
                    'destination': trip.returnUkPort | capitalize,
                }),
                {html: summaryListActionsList(actions)},
            ]) -}}
        {% else %}
            {{- tableRow([
                {
                    text: 'international.vehicle.summary.no-trips' | trans,
                    colspan: 4
                }
            ]) -}}
        {%- endfor %}
    {{- tableEndIncludingBody() -}}

    <div>
        {%- set dashboardUrl = url(constant('App\\Controller\\InternationalSurvey\\IndexController::SUMMARY_ROUTE')) -%}
        {%- set addTripRoute = constant('App\\Controller\\InternationalSurvey\\TripAddController::START_ROUTE') -%}
        <a href="{{ url(addTripRoute, {vehicleId: vehicle.id}) }}"
           class="govuk-button govuk-!-margin-bottom-9">{{ 'common.actions.add-trip' | trans }}</a>
    </div>

    <hr class="govuk-!-margin-bottom-9">
    <div>
        {%- if vehicle.trips.count() > 0 -%}
            <a href="{{ dashboardUrl }}"
               class="govuk-button">{{ 'international.trip.summary.actions.vehicle-complete' | trans }}</a>
        {%- endif -%}
        <a href="{{ dashboardUrl }}"
           class="govuk-button govuk-button--secondary">{{ 'common.actions.back-to-dashboard' | trans }}</a>
    </div>
{% endblock %}
