{% set translation_prefix = 'international.summary' %}
{% extends 'international_survey/base.html.twig' %}

{% block content %}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListRow, actionLinks, tableHead, tableCell -%}
    {%- from 'macros.html.twig' import displayAxleConfiguration -%}

    <h1 class="page-heading__heading govuk-heading-xl">Vehicle Summary</h1>

    {%- set params = {vehicleId: vehicle.id} -%}
    {%- set urlVehicleDetails = wizardUrl('international-vehicle', 'STATE_CHANGE_VEHICLE_DETAILS', params) -%}
    {%- set urlChangeTrailerConfiguration = wizardUrl('international-vehicle', 'STATE_CHANGE_VEHICLE_TRAILER_CONFIGURATION', params) -%}
    {%- set urlChangeVehicleBody = wizardUrl('international-vehicle', 'STATE_CHANGE_VEHICLE_BODY', params) -%}
    {%- set urlChangeVehicleWeight = wizardUrl('international-vehicle', 'STATE_CHANGE_VEHICLE_WEIGHT', params) -%}
    {%- set change = 'common.actions.change'|trans -%}

    <h2 class="page-heading__heading govuk-heading-l">Basic Details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        {%- set operationChoices = constant('App\\Entity\\Vehicle::OPERATION_TYPE_CHOICES') -%}
        {{ summaryListRow('common.vehicle.registration-mark',
            vehicle.formattedRegistrationMark,
            {(urlVehicleDetails): change}) }}
        {{ summaryListRow('common.vehicle.operation-type',
            choiceLabel(operationChoices, vehicle.operationType) | trans,
            {(urlVehicleDetails): change}) }}

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Axle configuration</dt>
            <dd class="govuk-summary-list__value">{{ displayAxleConfiguration(vehicle.axleConfiguration) }}</dd>
            <dd class="govuk-summary-list__actions">
                {{- actionLinks({(urlChangeTrailerConfiguration): change}) -}}
            </dd>
        </div>

        {%- set bodyChoices = constant('App\\Entity\\Vehicle::BODY_CONFIGURATION_CHOICES') -%}
        {{ summaryListRow('common.vehicle.body-type' | trans,
            choiceLabel(bodyChoices, vehicle.bodyType) | trans,
            {(urlChangeVehicleBody): change}) }}
        {{ summaryListRow('common.vehicle.gross-weight' | trans,
            "#{vehicle.grossWeight} Kg",
            {(urlChangeVehicleWeight): change}) }}
        {{ summaryListRow('common.vehicle.carrying-capacity' | trans,
            "#{vehicle.carryingCapacity} Kg",
            {(urlChangeVehicleWeight): change}) }}
    </dl>

    <h2 class="page-heading__heading govuk-heading-l">Trips</h2>

    <table class="govuk-table">
        {{ tableHead(false, ['Outward trip', 'Return trip', 'Status', '']) }}
        <tbody class="govuk-table__body">
        {%- for trip in vehicle.trips %}
            <tr class="govuk-table__row">
                {%- set tripRoute = constant('App\\Controller\\InternationalSurvey\\TripController::TRIP_ROUTE') -%}
                {%- set viewContents = actionLinks({(url(tripRoute, {id: trip.id})): 'common.actions.view'|trans}) -%}

                {{ tableCell('international.trip.summary.origin-to-destination'|trans({
                    'origin': trip.outboundUkPort|capitalize,
                    'destination': trip.outboundForeignPort|capitalize,
                })) }}
                {{ tableCell('international.trip.summary.origin-to-destination'|trans({
                    'origin': trip.returnForeignPort|capitalize,
                    'destination': trip.returnUkPort|capitalize,
                })) }}
                {{ tableCell('-') }}
                {{ tableCell(viewContents, {actions: true}) }}
            </tr>
        {% else %}
            <tr class="govuk-table__row">
                {{ tableCell('No trips', {colSpan: 4}) }}
            </tr>
        {%- endfor %}
        </tbody>
    </table>

    <p class="govuk-body">
        {%- set dashboardRoute = constant('App\\Controller\\InternationalSurvey\\IndexController::SUMMARY_ROUTE') -%}
        {%- set addTripRoute = constant('App\\Controller\\InternationalSurvey\\TripAddController::START_ROUTE') -%}
        <a href="{{ url(addTripRoute, {vehicleId: vehicle.id}) }}" class="govuk-button">Add Trip</a>
        <a href="{{ url(dashboardRoute) }}" class="govuk-button govuk-button--secondary">Back to dashboard</a>
    </p>
{% endblock %}