{% set translation_prefix = 'international.summary' %}
{% extends 'international_survey/base.html.twig' %}

{% block beforeContent %}{% endblock %}

{% block content %}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListRow, actionLinks -%}
    {%- set response = survey.response -%}

    <h1 class="page-heading__heading govuk-heading-xl">Vehicle Summary</h1>

    {%- set urlCorrespondenceDetails = wizardUrl('international-initial-details', 'STATE_CHANGE_CONTACT_DETAILS') -%}

    <h2 class="govuk-heading-m">Correspondence details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        {{ summaryListRow('common.vehicle.registration-mark',
            vehicle.formattedRegistrationMark,
            {(urlCorrespondenceDetails): 'Change'}) }}

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Axle configuration</dt>
            <dd class="govuk-summary-list__value">{{ svgIcon("lorry-#{vehicle.axleConfiguration}.svg") }}<br>{{ (vehicle.axleConfiguration | vehicleAxleConfigTransKey | trans) }}</dd>
            <dd class="govuk-summary-list__actions">
                {{- actionLinks({(urlCorrespondenceDetails): 'Change'}) -}}
            </dd>
        </div>

        {%- set bodyChoices = constant('App\\Entity\\Vehicle::BODY_CONFIGURATION_CHOICES') -%}
        {{ summaryListRow('common.vehicle.body-type' | trans,
            choiceLabel(bodyChoices, vehicle.bodyType) | trans,
            {(urlCorrespondenceDetails): 'Change'}) }}
        {{ summaryListRow('common.vehicle.gross-weight' | trans,
            "#{vehicle.grossWeight} Kg",
            {(urlCorrespondenceDetails): 'Change'}) }}
        {{ summaryListRow('common.vehicle.carrying-capacity' | trans,
            "#{vehicle.carryingCapacity} Kg",
            {(urlCorrespondenceDetails): 'Change'}) }}
    </dl>
{% endblock %}