{% extends 'admin/base.html.twig' %}

{% set translation_prefix = translation_prefix | default('default') %}
{%- set heading_translation = headingTranslation | default(translation_prefix ~ '.heading') %}

{% block pageTitle -%}
    {{ heading_translation | trans(headingParams | default({}), headingDomain | default(null)) }} - {{ parent() -}}
{%- endblock %}

{% block main %}
    <div class="govuk-width-container {{ containerClasses | default('') }}">
        <div class="govuk-grid-row">
            <nav class="govuk-grid-column-menu" aria-labelledby="main-menu-label" id="main-menu">
                <h2 id="main-menu-label" class="govuk-visually-hidden">Main Menu</h2>
                {% block adminMenu %}
                    {% if menu is defined %}
                        {% from 'admin/macros/menu.html.twig' import displayAdminMenu %}
                        {{ displayAdminMenu(menu) }}
                    {% else %}
                        <p class="govuk-body">Menu not defined</p>
                    {% endif %}
                {% endblock %}
            </nav>

            {% block beforeContent -%}
                {%- block backLink -%}
                    {%- if (formWizardState | default(false)) and formWizardState.previousHistoryState -%}
                        <a href="{{ url(app.request.get('_route'), app.request.get('_route_params') | default({}) | merge({state: formWizardState.previousHistoryState})) }}" class="govuk-back-link">Back</a>
                    {%- endif -%}
                {%- endblock -%}
            {%- endblock %}
            <main class="govuk-grid-column-content govuk-main-wrapper {{ mainClasses | default('') }}" id="main-content" role="main"{% if mainLang | default(false) %} lang="{{ mainLang }}"{% endif %}>
                {% from '@GhostGovUkFrontend/components/macros.html.twig' import flashNotificationBanners %}
                {%- if maintenanceWarningBanner ?? false -%}
                    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import notificationBanner -%}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds-from-wide">
                    {{- notificationBanner(maintenanceWarningBanner) -}}
                    </div>
                </div>
                {%- endif -%}

                {{ flashNotificationBanners() }}

                {% block adminContentIncludingHeader %}
                <h1 class="govuk-heading-l {{ block('extraHeadingClasses') ?? null }}" id="top">{{ heading_translation | trans(headingParams | default({}), headingDomain | default(null)) }}</h1>
                {% block adminContent %}
                    <p class="govuk-body">Content</p>
                {% endblock %}
                {% endblock %}
            </main>
        </div>
    </div>
{% endblock %}