{% extends 'admin/base-with-nav.html.twig' %}

{% set translation_prefix = translation_prefix|default("admin.pre-enquiry.add-success") %}

{% block adminContent %}
    {% from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListStart, summaryListEnd, summaryListRow %}

    {{- summaryListStart({classes: 'govuk-!-margin-bottom-9'}) -}}
        {{- summaryListRow({
            key: 'admin.pre-enquiry.created.company-name' | trans,
            value: preEnquiry.companyName
        }) -}}

        {%- set invitationEmailValue -%}
            {%- set bodyText -%}
                First passcode: {{ username }}
                Second passcode: {{ password }}
            {%- endset -%}
            {%- set mailLink = "mailto:?subject=DfT International Road Haulage Pre Enquiry - Access codes&body=" ~ (bodyText | trim | url_encode) -%}
            <a href="{{ mailLink }}">email link</a>
        {%- endset -%}
        {{- summaryListRow({
            key: 'admin.pre-enquiry.created.invitation-email' | trans,
            value: {html: invitationEmailValue}
        }) -}}

        {{- summaryListRow({
        key: 'admin.pre-enquiry.created.invitation-address' | trans,
        value: preEnquiry.invitationAddress.isFilled ?
            (preEnquiry.invitationAddress | formatAddress(true)) :
            '-'
        }) -}}
        {{- summaryListRow({
            key: 'admin.pre-enquiry.created.access-code-1' | trans,
            value: username,
            classes: 'access-code',
        }) -}}
        {{- summaryListRow({
            key: 'admin.pre-enquiry.created.access-code-2' | trans,
            value: password,
            classes: 'access-code',
        }) -}}
    {{- summaryListEnd() -}}

    <a class="govuk-button" href="{{ path('admin_preenquiry_view', {preEnquiryId: preEnquiry.id}) }}">View pre-enquiry</a>
{% endblock %}

