{% block form %}
    {%- form_theme form.countries "themes/countries-transitted.html.twig" -%}
    {{ form_start(form) }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
            <h3 class="govuk-heading-m govuk-heading--underline">Outbound journey</h3>
            {{ form_row(form.outboundDate) }}
            {{ form_row(form.outboundUkPort) }}
            {{ form_row(form.outboundForeignPort) }}
            {{ form_row(form.outboundCargoState) }}
        </div>
        <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
            <h3 class="govuk-heading-m govuk-heading--underline">Return journey</h3>
            {{ form_row(form.returnDate) }}
            {{ form_row(form.returnForeignPort) }}
            {{ form_row(form.returnUkPort) }}
            {{ form_row(form.returnCargoState) }}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half-from-desktop">
            {{ form_row(form.countries) }}
        </div>
        <div class="govuk-grid-column-one-half-from-desktop">
            {{ form_row(form.otherDetails) }}
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}