{% extends 'admin/base-with-nav.html.twig' %}

{% set translation_prefix = translation_prefix|default("admin.international.survey-add-success") %}

{% block adminContent %}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListStart, summaryListEnd, summaryListRow -%}
    {{- summaryListStart({classes: 'govuk-!-margin-bottom-9'}) -}}
        {{- summaryListRow({
            key: 'admin.international.company.business-name.label' | trans,
            value: survey.company.businessName
        }) -}}
        {{- summaryListRow({
            key: 'admin.international.survey.reference-number.label' | trans,
            value: survey.referenceNumber
        }) -}}
        {{- summaryListRow({
            key: 'admin.international.survey.period-start.label' | trans,
            value: survey.surveyPeriodStart | date('format.date.default' | trans)
        }) -}}
        {{- summaryListRow({
            key: 'admin.international.survey.period-end.label' | trans,
            value: survey.surveyPeriodEnd | date('format.date.default' | trans)
        }) -}}
        {{- summaryListRow({
            key: 'admin.international.survey.period-days.label' | trans,
            value: survey.surveyPeriodInDays
        }) -}}

        {%- set invitationEmailValue -%}
            {% if survey.invitationEmails ?? false %}
                {{ survey.invitationEmails }}
            {% else %}
                {%- set bodyText -%}
                    First passcode: {{ username }}
                    Second passcode: {{ password }}
                {%- endset -%}
                {%- set mailLink = "mailto:?subject=DfT International Road Haulage Survey - Test access codes&body=" ~ (bodyText | trim | url_encode) -%}
                <a href="{{ mailLink }}">email link</a>
            {% endif %}
        {%- endset -%}
        {{- summaryListRow({
            key: 'admin.international.survey-created.invitation-email' | trans,
            value: {html: invitationEmailValue}
        }) -}}

        {{- summaryListRow({
            key: 'admin.international.survey-created.invitation-address' | trans,
            value: survey.invitationAddress.isFilled ?
                (survey.invitationAddress | formatAddress(true)) :
                '-'
        }) -}}
        {{- summaryListRow({
            key: 'admin.international.survey-created.access-code-1' | trans,
            value: username,
            classes: 'access-code',
        }) -}}
        {{- summaryListRow({
            key: 'admin.international.survey-created.access-code-2' | trans,
            value: password,
            classes: 'access-code',
        }) -}}
    {{- summaryListEnd() -}}

    <a class="govuk-button" href="{{ path('admin_international_survey_view', {surveyId: survey.id}) }}">View survey</a>
{% endblock %}

