{% extends 'admin/base-with-nav.html.twig' %}

{% set translation_prefix = translation_prefix|default("admin.international.survey-add-success") %}

{% block adminContent %}
    {% from '@GhostGovUkFrontend/components/macros.html.twig' import actionlessSummaryListRow %}
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        {{ actionlessSummaryListRow('admin.international.company.business-name.label', survey.company.businessName) }}
        {{ actionlessSummaryListRow('admin.international.survey.reference-number.label', survey.referenceNumber) }}
        {{ actionlessSummaryListRow('admin.international.survey.period-start.label', survey.surveyPeriodStart | date('format.date.default' | trans)) }}
        {{ actionlessSummaryListRow('admin.international.survey.period-end.label', survey.surveyPeriodEnd | date('format.date.default' | trans)) }}
        {{ actionlessSummaryListRow('admin.international.survey.period-days.label', survey.surveyPeriodInDays) }}

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ 'admin.international.survey-created.invitation-email' | trans | nl2br }}</dt>
            <dd class="govuk-summary-list__value">
                {% if survey.invitationEmails ?? false %}
                    {{ survey.invitationEmails }}
                {% else %}
                    {%- set bodyText -%}
                        Access code 1: {{ survey.passcodeUser.username }}
                        Access code 2: {{ password }}
                    {%- endset -%}
                    {%- set mailLink = "mailto:?subject=DfT International Road Haulage Survey - Test access codes&body=" ~ (bodyText|trim|url_encode) -%}
                    <a href="{{ mailLink }}">email link</a>
                {% endif %}
            </dd>
        </div>
        {{ actionlessSummaryListRow('admin.international.survey-created.invitation-address', survey.invitationAddress.isFilled ?
            (survey.invitationAddress | formatAddress(true)) :
        '-', null) }}
        {{ actionlessSummaryListRow('admin.international.survey-created.access-code-1', survey.passcodeUser.username, {'row_class': 'access-code'}) }}
        {{ actionlessSummaryListRow('admin.international.survey-created.access-code-2', password, {'row_class': 'access-code'}) }}
    </dl>

    <a class="govuk-button" href="{{ path('admin_international_survey_view', {surveyId: survey.id}) }}">View survey</a>
{% endblock %}

