{% extends 'admin/base-with-nav.twig' %}

{% block adminContent %}
    {% from '@GhostGovUkFrontend/components/macros.html.twig' import tableHead, tableCell, actionLinks, tag %}
    <h1 class="govuk-heading-l">International surveys</h1>

    <table class="govuk-table">
        {{ tableHead('Surveys unordered', ['User', 'Start date', 'Business', 'Status']) }}
        <tbody class="govuk-table__body">
        {% for survey in surveys %}
            <tr class="govuk-table__row">
                {{ tableCell(survey.passcodeUser.username) }}
                {{ tableCell(survey.surveyPeriodStart | date ('Y-m-d')) }}
                {{ tableCell(survey.company.businessName) }}
                {{ tableCell(tag({text: survey.state, classes: "admin.international.survey.state.#{survey.state}" | trans}), {html: true}) }}
{#                {{ tableCell(actionLinks({(url('admin_domestic_surveydetails', app.request.get('_route_params') | default({}) | merge({survey: survey.id}))): 'details'}), {}) }}#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

