{% extends 'admin/base-with-nav.twig' %}

{% block adminContent %}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import actionlessSummaryListRow, tabsHead, tag -%}
    {%- if survey.response | default(false) -%}
        {%- set tabs = {
            'Contact details': 'tab-initial-details',
            'Business details': 'tab-business-details',
        } -%}
    {% endif %}

    <h1 class="govuk-heading-l">IRHS Survey {{ survey.referenceNumber }}</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        {{ actionlessSummaryListRow('Status', tag({text: survey.state, classes: "admin.international.survey.state.#{survey.state}" | trans}), {html: true}) }}
        {{ actionlessSummaryListRow('Username', survey.passcodeUser.username) }}
        {{ actionlessSummaryListRow('Survey period start', survey.surveyPeriodStart | date ('Y-m-d')) }}
    </dl>

{#    {% if is_granted('ROLE_ADMIN_FORM_USER') %}#}
{#        <a class="govuk-button govuk-button--warning" href="{{ path('admin_international_survey_delete', {survey: survey.id}) }}">Delete survey</a>#}
{#    {% endif %}#}

        {% if tabs | default(false) %}
        <div class="govuk-tabs" data-module="govuk-tabs">
            {{ tabsHead(tabs) }}

            {% if 'Contact details' in tabs | keys %}
                <div class="govuk-tabs__panel" id="tab-initial-details">
                    {% with {showActions: false, response: survey.response} %}
                        {% include 'international_survey/includes/contact-details.html.twig' %}
                    {% endwith %}
                </div>
            {% endif %}

            {% if 'Business details' in tabs | keys %}
                <div class="govuk-tabs__panel" id="tab-business-details">
                    {% with {showActions: false, response: survey.response} %}
                        {% include 'international_survey/includes/business-details.html.twig' %}
                    {% endwith %}
                </div>
            {% endif %}
        </div>
        {% endif %}
{% endblock %}