{% extends 'admin/base-with-nav.twig' %}

{%- block adminContent -%}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import tabsHead, tableCell, tableHeadComplex -%}
    {%- set hasInitialDetails = survey.response | default(false) -%}
    {%- if hasInitialDetails -%}
        {%- set tabs = {} -%}

        {%- if survey.response.noLongerActive == false -%}
            {%- set tabs = tabs|merge({
                'Vehicles': 'tab-vehicles',
            }) -%}
        {%- endif -%}

        {%- set tabs = tabs|merge({
            'Correspondence details': 'tab-correspondence',
            'Business details': 'tab-business-details',
        }) -%}
    {%- endif -%}

    <h1 class="govuk-heading-l" id="top">IRHS Survey {{ survey.referenceNumber }}</h1>

    <div class="govuk-!-margin-bottom-9">
        {%- with {marginBottom: hasInitialDetails ? 0 : 5} -%}
            {%- include "international_survey/includes/survey-basics.html.twig" -%}
        {%- endwith -%}

        {%- if not hasInitialDetails -%}
            <a class="govuk-button" href="{{ path('admin_international_survey_initial_enter', {surveyId: survey.id}) }}">Enter initial details</a>
        {%- endif -%}
    </div>

    {%- if tabs is defined -%}
        <div class="govuk-tabs govuk-!-margin-bottom-9" data-module="govuk-tabs">
            {{ tabsHead(tabs) }}

            {%- if 'Vehicles' in tabs | keys -%}
                <div class="govuk-tabs__panel" id="tab-vehicles">
                    <h2 class="govuk-heading-m">Vehicles</h2>

                    {%- with {vehicles: survey.response.vehicles, survey: survey, marginBottom: 5} -%}
                        {%- include 'international_survey/includes/admin-vehicles.html.twig' -%}
                    {%- endwith -%}

                    <div>
                        <a class="govuk-button"
                           href="{{ path('admin_international_vehicle_add', {surveyId: survey.id}) }}">Add<span
                                    class="govuk-visually-hidden"> vehicle</span></a>
                    </div>
                </div>
            {%- endif -%}

            {%- if 'Correspondence details' in tabs | keys -%}
                <div class="govuk-tabs__panel" id="tab-correspondence">
                    {%- with {showActions: false, response: survey.response, marginBottom: 5} -%}
                        {%- include 'international_survey/includes/contact-details.html.twig' -%}
                    {%- endwith -%}

                    <div>
                        <a class="govuk-button"
                           href="{{ path('admin_international_survey_correspondence_edit', {surveyId: survey.id}) }}">Edit<span
                                    class="govuk-visually-hidden"> correspondence details</span></a>
                    </div>
                </div>
            {%- endif -%}

            {%- if 'Business details' in tabs | keys -%}
                <div class="govuk-tabs__panel" id="tab-business-details">
                    {%- with {showActions: false, response: survey.response, marginBottom: 5} -%}
                        {%- include 'international_survey/includes/business-details.html.twig' -%}
                    {%- endwith -%}

                    <div>
                        <a class="govuk-button"
                           href="{{ path('admin_international_survey_business_edit', {surveyId: survey.id}) }}">Edit<span
                                    class="govuk-visually-hidden"> business details</span></a>
                    </div>
                </div>
            {%- endif -%}
        </div>
    {%- endif -%}

    {% if survey.response and (survey.response.vehicles is not empty) %}
        {% for vehicle in survey.response.vehicles %}
            <div class="govuk-!-padding-bottom-5">
                <h2 class="govuk-heading-l govuk-heading--underline" id="{{ vehicle.id }}">Vehicle
                    — {{ vehicle.registrationMark|formatRegMark }}
                    <a class="admin-surveys__back-to-top govuk-link--no-visited-state" href="#top">Back to top</a>
                </h2>

                <h3 class="govuk-heading-m">Vehicle details</h3>

                {% with {vehicle: vehicle, showActions: false, marginBottom: 5} %}
                    {% include "international_survey/includes/vehicle.html.twig" %}
                {% endwith %}

                <div class="govuk-!-margin-bottom-5">
                    <a class="govuk-button"
                       href="{{ path('admin_international_vehicle_edit', {vehicleId: vehicle.id}) }}">Edit<span
                                class="govuk-visually-hidden"> vehicle {{ vehicle.registrationMark|formatRegMark }}</span></a>
                    <a class="govuk-button"
                       href="{{ path('admin_international_trip_add', {vehicleId: vehicle.id}) }}">Add Trip</a>
                    <a class="govuk-button govuk-button--warning"
                       href="{{ path('admin_international_vehicle_delete', {vehicleId: vehicle.id}) }}">Delete
                        vehicle</a>
                </div>

                <h3 class="govuk-heading-m">Trips</h3>

                {%- for trip in vehicle.trips -%}
                    <h3 class="govuk-heading-s admin-surveys__trip-header" id="{{ trip.id }}">Trip
                        #{{ loop.index }}</h3>
                    {%- with {showActions: false, trip: trip, marginBottom: 5} -%}
                        {%- include "international_survey/includes/trip.html.twig" -%}
                    {%- endwith -%}

                    <div class="govuk-!-margin-bottom-5">
                        <a class="govuk-button" href="{{ path('admin_international_trip_edit', {tripId: trip.id}) }}">Edit<span
                                    class="govuk-visually-hidden"> trip #{{ loop.index }}</span></a>
                        <a class="govuk-button govuk-button--warning"
                           href="{{ path('admin_international_trip_delete', {tripId: trip.id}) }}">Delete Trip</a>
                    </div>

                    {% if is_feature_enabled('IRHS_CONSIGNMENTS_AND_STOPS') %}
                        {# Not implemented #}
                    {% else %}
                        <h4 class="govuk-heading-s" id="actions-{{ trip.id }}">Consignment actions</h4>
                        {%- set isReOrderable = trip.actions|length  > 1 -%}
                        {%- if trip.actions is not empty -%}
                            {%- with {trip:trip, marginBottom: 5, isAdmin: true} -%}
                                {%- include "international_survey/includes/actions.html.twig" -%}
                            {%- endwith -%}
                        {%- else -%}
                            <div class="govuk-body govuk-!-margin-bottom-5">No consignment actions</div>
                        {%- endif -%}

                        <div class="govuk-!-margin-bottom-9 govuk-body">
                            <a class="govuk-button"
                               href="{{ path('admin_international_action_add_loading', {tripId: trip.id}) }}">Add
                                loading action</a>
                            <a class="govuk-button"
                               href="{{ path('admin_international_action_add_unloading', {tripId: trip.id}) }}">Add
                                unloading action</a>
                            {%- if isReOrderable -%}
                                <a class="govuk-button govuk-button--secondary"
                                   href="{{ path('admin_international_action_reorder', {tripId: trip.id}) }}">Re-order
                                    actions</a>
                            {%- endif -%}
                        </div>
                    {% endif %}
                {%- else -%}
                    <div class="govuk-body">No trips</div>
                {%- endfor %}
            </div>
        {%- endfor -%}
    {%- endif -%}

    {% if workflow_can(survey, 'approve') or workflow_can(survey, 'reject') or workflow_can(survey, 'complete')
        or workflow_can(survey, 're_open') or workflow_can(survey, 'un_approve') or workflow_can(survey, 'un_reject')
    %}
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <div class="govuk-!-margin-bottom-9 govuk-body">
            <h2 class="govuk-heading--l">Survey actions</h2>
            {{ _self.workflow_link(survey, 're_open', 'Re-open', {class: 'govuk-button--secondary'}) }}
            {{ _self.workflow_link(survey, 'complete', 'Complete') }}
            {{ _self.workflow_link(survey, 'reject', 'Reject', {class: 'govuk-button--warning'}) }}
            {{ _self.workflow_link(survey, 'un_reject', 'Un-reject', {class: 'govuk-button--secondary'}) }}
            {{ _self.workflow_link(survey, 'approve', 'Approve') }}
            {{ _self.workflow_link(survey, 'un_approve', 'Un-approve', {class: 'govuk-button--secondary'}) }}
        </div>
    {% endif %}

{%- endblock -%}

{% macro workflow_link(survey, transitionName, transitionText, options) -%}
    {% from '@GhostGovUkFrontend/components/macros.html.twig' import attributes %}
    {%- with {
        attr: (options.attr ?? {}) | merge({
            href: path('admin_international_survey_workflow', {surveyId: survey.id, transition: transitionName}),
            class: ('govuk-button ' ~ (options.class | default('')) ) | trim
        })
    } -%}
        {%- if workflow_can(survey, transitionName) %}<a {{ attributes(attr) }}>{{ transitionText }} survey</a>{% endif -%}
    {%- endwith -%}
{%- endmacro %}