{% extends 'admin/base-with-nav.twig' %}

{%- block adminContent -%}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import actionlessSummaryListRow, tabsHead, tag, tableCell, tableHeadComplex -%}
    {%- if survey.response | default(false) -%}
        {%- set tabs = {} -%}

        {%- if survey.response.noLongerActive == false -%}
            {%- set tabs = tabs|merge({
                'Vehicles': 'tab-vehicles',
            }) -%}
        {%- endif -%}

        {%- set tabs = tabs|merge({
            'Correspondence details': 'tab-correspondence',
            'Business details': 'tab-business-details',
        }) -%}
    {%- endif -%}

    <h1 class="govuk-heading-l" id="top">IRHS Survey {{ survey.referenceNumber }}</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        {{ actionlessSummaryListRow('Status', tag({text: survey.state, classes: "admin.international.survey.state.#{survey.state}" | trans}), {html: true}) }}
        {{ actionlessSummaryListRow('Username', survey.passcodeUser.username) }}
        {{ actionlessSummaryListRow('Survey period start', survey.surveyPeriodStart | date ('Y-m-d')) }}
    </dl>

{#    {% if is_granted('ROLE_ADMIN_FORM_USER') %} #}
{#        <a class="govuk-button govuk-button--warning" href="{{ path('admin_international_survey_delete', {survey: survey.id}) }}">Delete survey</a>#}
{#    {% endif %}#}

    {%- if tabs is defined -%}
    <div class="govuk-tabs govuk-!-margin-bottom-9" data-module="govuk-tabs">
        {{ tabsHead(tabs) }}

        {%- if 'Vehicles' in tabs | keys -%}
            <div class="govuk-tabs__panel" id="tab-vehicles">
                <h2 class="govuk-heading-m">Vehicles</h2>

                {%- with {vehicles: survey.response.vehicles, survey: survey} -%}
                    {%- include 'international_survey/includes/admin-vehicles.html.twig' -%}
                {%- endwith -%}
            </div>
        {%- endif -%}

        {%- if 'Correspondence details' in tabs | keys -%}
            <div class="govuk-tabs__panel" id="tab-correspondence">
                {%- with {showActions: false, response: survey.response, marginBottom: 4} -%}
                    {%- include 'international_survey/includes/contact-details.html.twig' -%}
                {%- endwith -%}

                <div>
                    <a class="govuk-button" href="{{ path('admin_international_survey_correspondence_edit', {surveyId: survey.id}) }}">Edit<span class="govuk-visually-hidden"> correspondence details</span></a>
                </div>
            </div>
        {%- endif -%}

        {%- if 'Business details' in tabs | keys -%}
            <div class="govuk-tabs__panel" id="tab-business-details">
                {%- with {showActions: false, response: survey.response, marginBottom: 4} -%}
                    {%- include 'international_survey/includes/business-details.html.twig' -%}
                {%- endwith -%}

                <div>
                    <a class="govuk-button" href="{{ path('admin_international_survey_business_edit', {surveyId: survey.id}) }}">Edit<span class="govuk-visually-hidden"> business details</span></a>
                </div>
            </div>
        {%- endif -%}
    </div>
    {%- endif -%}

    {% if survey.response and (survey.response.vehicles is not empty) %}
        {% for vehicle in survey.response.vehicles %}
            <div class="govuk-!-padding-bottom-4">
                <h2 class="govuk-heading-l govuk-heading--underline" id="{{ vehicle.id }}">Vehicle — {{ vehicle.registrationMark|formatRegMark }}
                    <a class="admin-surveys__back-to-top govuk-link--no-visited-state" href="#top">Back to top</a>
                </h2>

                <h3 class="govuk-heading-m">Vehicle details</h3>

                {% with {vehicle: vehicle, showActions: false} %}
                    {% include "international_survey/includes/admin-vehicle.html.twig" %}
                {% endwith %}

                <div class="govuk-!-margin-bottom-5">
                    <a class="govuk-button" href="{{ path('admin_international_vehicle_edit', {vehicleId: vehicle.id}) }}">Edit<span class="govuk-visually-hidden"> vehicle {{ vehicle.registrationMark|formatRegMark }}</span></a>
                </div>

                <h3 class="govuk-heading-m">Trips</h3>

                {%- for trip in vehicle.trips -%}
                    <h3 class="govuk-heading-s admin-surveys__trip-header">Trip #{{ loop.index }}</h3>
                    {%- with {showActions: false, trip: trip, marginBottom: 4} -%}
                        {%- include "international_survey/includes/trip.html.twig" -%}
                    {%- endwith -%}

                    <div class="govuk-!-margin-bottom-5">
                        <a class="govuk-button" href="{{ path('admin_international_trip_edit', {tripId: trip.id}) }}">Edit<span class="govuk-visually-hidden"> trip #{{ loop.index }}</span></a>
                    </div>

                    {% if is_feature_enabled('IRHS_CONSIGNMENTS_AND_STOPS') %}
                        {# Not implemented #}
                    {% else %}
                        <h4 class="govuk-heading-s" id="actions-{{ trip.id }}">Consignment actions</h4>
                        {%- if trip.actions is not empty -%}
                            {%- with {trip:trip, bottomMargin: 9, isAdmin: true} -%}
                                {%- include "international_survey/includes/actions.html.twig" -%}
                            {%- endwith -%}
                        {%- else -%}
                            <div class="govuk-body govuk-!-margin-bottom-9">No consignment actions</div>
                        {%- endif -%}
                    {% endif %}
                {%- else -%}
                    <div class="govuk-body">No trips</div>
                {%- endfor %}
            </div>
        {%- endfor -%}
    {%- endif -%}
{%- endblock -%}