{% set useThirdsColumns = useThirdsColumns ?? true %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% set heading = ("#{translation_prefix}.heading" | trans((heading_translation_parameters | default({})), heading_translation_domain | default(null)) ) %}
        {% if heading != "#{translation_prefix}.heading" and not heading is empty %}
            <h1 class="page-heading__heading {{ pageHeadingSizeClass ?? 'govuk-heading-xl' }}{{ (pageHeadingClass ?? false) ? " #{pageHeadingClass}" : "" }}">{{ heading|nl2br }}</h1>
        {% endif %}
        {% if postHeadingContent ?? false %}{{ postHeadingContent | raw }}{% endif %}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="{% if useThirdsColumns %}govuk-grid-column-two-thirds{% else %}govuk-grid-column-full{% endif %}">
        {% set help = ("#{translation_prefix}.help" | trans((help_translation_parameters | default({})), help_translation_domain | default(null))) %}
        {% if help != "#{translation_prefix}.help" and not help is empty %}
            <p class="govuk-body">{{ help | nl2br }}</p>
        {% endif %}

        {% if preFormContent ?? false %}{{ preFormContent | raw }}{% endif %}

        {{ form(form) }}
    </div>
    {% if useThirdsColumns and (oneThirdColumnContent ?? false) %}<div class="govuk-grid-column-one-third">{{ oneThirdColumnContent | raw }}</div>{% endif %}
</div>
