{% set translation_prefix = 'international.action.summary' %}
{% set headingOverride = action.loading ? 'heading-loading' : 'heading-unloading' %}
{% set headingParams = {number: action.number} %}
{% set containerClasses = '' %}

{% extends 'international_survey/base.html.twig' %}

{% block content %}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListRow, actionLinks -%}
    {% from 'macros.html.twig' import displayHazardousGoods %}

    <h1 class="page-heading__heading govuk-heading-xl">{{ (translation_prefix ~ '.' ~ headingOverride)|trans(headingParams) }}</h1>

    {%- set params = {actionId: action.id} -%}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                {%- set cargoChoices = constant('App\\Entity\\CargoType::CHOICES') -%}
                {%- set loadingAction = action.loadingAction -%}

                {%- set changeLink = {(wizardUrl('international-action', 'STATE_PLACE', params)):
                    {label: 'common.actions.change', srHiddenSuffix: 'common.action.place'}
                } -%}
                {{ summaryListRow('common.action.place', 'common.action.place-name' | trans({name: action.name|formatPotentialPostcode, country: action|formatCountry}), changeLink) }}
                {%- if action.loading -%}
            {# Loading #}
                    {%- set loadGoodsChangeLink = {(wizardUrl('international-action', 'STATE_GOODS_DESCRIPTION', params)):
                        {label: 'common.actions.change', srHiddenSuffix: 'common.action.goods'}
                    } -%}
                    {%- set loadHazardousChangeLink = {(wizardUrl('international-action', 'STATE_HAZARDOUS_GOODS', params)):
                        {label: 'common.actions.change', srHiddenSuffix: 'common.action.cargo-type'}
                    } -%}

                    {{ summaryListRow('common.action.goods', formatGoodsDescription(action.goodsDescription, action.goodsDescriptionOther), loadGoodsChangeLink) }}
                    {{ summaryListRow('common.action.weight',
                        ('common.weight.kilograms'|trans({value: action.weightOfGoods})),
                        loadGoodsChangeLink
                    ) }}

                    {{ summaryListRow('common.action.is-hazardous', displayHazardousGoods(action.hazardousGoodsCode, 'common.action.not-hazardous'), loadHazardousChangeLink) }}
                    {{ summaryListRow('common.action.cargo-type', choiceLabel(cargoChoices, action.cargoTypeCode) | trans, loadHazardousChangeLink) }}
                {%- else -%}
            {# Unloading #}
                    {%- set unloadConsignmentChangeLink = {(wizardUrl('international-action', 'STATE_CONSIGNMENT_UNLOADED', params)):
                        {label: 'common.actions.change', srHiddenSuffix: 'common.action.goods'}
                    } -%}
                    {% with {action: action.loadingAction} %}
                        {%- set goodsCopy = 'common.action.goods-from-place'|trans({name: action.name, country: action|formatCountry, number: loadingAction.number, goods: formatGoodsDescription(loadingAction.goodsDescription, loadingAction.goodsDescriptionOther)}) -%}
                        {{ summaryListRow('common.action.goods', goodsCopy, unloadConsignmentChangeLink) }}
                    {% endwith %}
                    {% if action.weightUnloadedAll %}
                        {{ summaryListRow('common.action.weight', 'common.action.unloaded-all'|trans({value: action.loadingAction.weightOfGoods}), unloadConsignmentChangeLink) }}
                    {% else %}
                        {{ summaryListRow('common.action.weight', ('common.weight.kilograms'|trans({value: action.weightOfGoods})), unloadConsignmentChangeLink) }}
                    {% endif %}
                {%- endif -%}
            </dl>
            {%- set deleteRoute = constant('App\\Controller\\InternationalSurvey\\ActionController::DELETE_ROUTE') -%}
            {%- set dashboardRoute = constant('App\\Controller\\InternationalSurvey\\TripController::TRIP_ROUTE') -%}
            <a href="{{ url(dashboardRoute, {id: action.trip.id}) }}" class="govuk-button govuk-button--secondary">{{ 'international.action.summary.actions.back-to-trip-summary'|trans }}</a>
            <a href="{{ url(deleteRoute, {actionId: action.id}) }}" class="govuk-button govuk-button--warning">{{ 'international.action.summary.actions.delete'|trans }}</a>
        </div>
{#
        <div class="govuk-grid-column-one-third">
            {% with {trip: action.trip} %}
                {% include "international_survey/includes/trip-summary.html.twig" %}
            {% endwith %}
        </div>
#}
    </div>
{% endblock %}