{% extends 'admin/base-with-nav.html.twig' %}

{% set translation_prefix = "survey-feedback.export" %}
{% set headingDomain = 'admin' %}

{%- block adminContent -%}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import tableCell, tableHead, actionLinks -%}

    {%- set headers = ['Exported at', ''] -%}

    <table class="govuk-table govuk-!-margin-bottom-{{ marginBottom ?? 9 }}">
        {{- tableHead(false, headers) -}}
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                {{- tableCell('All') -}}
                {%- set actions -%}
                    <a href="{{ url('admin_surveyfeedback_export_all') }}" class="govuk-!-margin-bottom-0">Download</a>
                {%- endset -%}
                {{- tableCell(actions, {actions: true}) -}}
            </tr>
            {% if hasNewResponses %}
                <tr class="govuk-table__row">
                    {{- tableCell('New (since last partial export)') -}}
                    {%- set actions -%}
                        <a href="{{ url('admin_surveyfeedback_export_new') }}" class="govuk-!-margin-bottom-0">Download</a>
                    {%- endset -%}
                    {{- tableCell(actions, {actions: true}) -}}
                </tr>
            {% else %}
                <tr>
                    {{- tableCell('There has been no new feedback since the last partial export') -}}
                    {{- tableCell('') -}}
                </tr>
            {% endif %}
            {% for exportDate in existingExportDates %}
                <tr class="govuk-table__row">
                    {{- tableCell(exportDate | date('format.date-time.default' | trans)) -}}

                    {%- set actions -%}
                        <a href="{{ url('admin_surveyfeedback_export_existing', {date: exportDate | date('c')}) }}" class="govuk-!-margin-bottom-0">Download</a>
                    {%- endset -%}

                    {{- tableCell(actions, {actions: true}) -}}
                </tr>
            {%- endfor -%}
        </tbody>
    </table>
{%- endblock -%}