{% extends 'base.html.twig' %}

{% block title %}International Pre-enquiry{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}
    {% import '@GhostGovUkFrontend/components/macros.html.twig' as gdsComponents %}
    <h1 class="page-heading__heading govuk-heading-xl">IRHS Pre-enquiry summary</h1>

    <h2 class="govuk-heading-m">Company details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        {%- set response = preEnquiry.response -%}
        {%- set urlCompanyName = wizardUrl('pre-enquiry', 'STATE_CHANGE_COMPANY_NAME') -%}
        {%- set urlVehicleQuestions = wizardUrl('pre-enquiry', 'STATE_CHANGE_VEHICLE_QUESTIONS') -%}
        {%- set urlEmployeesAndInternationalJourneys = wizardUrl('pre-enquiry', 'STATE_CHANGE_EMPLOYEES_AND_INTERNATIONAL_JOURNEYS') -%}
        {%- set change = 'common.actions.change'|trans -%}

        {{ gdsComponents.summaryListRow('Company name', response.companyName, {(urlCompanyName): change}) }}
        {{ gdsComponents.summaryListRow("Total vehicle count\n(> 3.5 tonnes gross)", response.totalVehicleCount, {(urlVehicleQuestions): change}) }}
        {{ gdsComponents.summaryListRow('Vehicles used to conduct international journeys', response.internationalJourneyVehicleCount, {(urlVehicleQuestions): change}) }}
        {{ gdsComponents.summaryListRow('Employee count', response.employeeCount, {(urlEmployeesAndInternationalJourneys): change}) }}
        {{ gdsComponents.summaryListRow('International journey estimate (Annual)', response.annualJourneyEstimate, {(urlEmployeesAndInternationalJourneys): change}) }}
    </dl>

    <h2 class="govuk-heading-m">Correspondence details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        {%- set urlCorrespondenceDetails = wizardUrl('pre-enquiry', 'STATE_CHANGE_CORRESPONDENCE_DETAILS') -%}
        {%- set urlCorrespondenceAddress = wizardUrl('pre-enquiry', 'STATE_CHANGE_CORRESPONDENCE_ADDRESS') -%}

        {{ gdsComponents.summaryListRow('Name', response.correspondenceName, {(urlCorrespondenceDetails): change}) }}
        {{ gdsComponents.summaryListRow('Email', response.email, {(urlCorrespondenceDetails): change}) }}
        {{ gdsComponents.summaryListRow('Phone', response.phone, {(urlCorrespondenceDetails): change}) }}
        {{ gdsComponents.summaryListRow('Address', response.correspondenceAddress, {(urlCorrespondenceAddress): change}) }}
    </dl>

    {{ form(form) }}
{% endblock %}