{%- from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListStart, summaryListEnd, summaryListRow -%}
{%- set showActions = showActions ?? true -%}

{%- set businessDetailsActionLinks = [
    {
        href: url('app_domesticsurvey_vehicleandbusinessdetails_index', {state: constant('App\\Workflow\\DomesticSurvey\\VehicleAndBusinessDetailsState::STATE_CHANGE_BUSINESS_DETAILS')}),
        text: 'common.actions.change' | trans,
        visuallyHiddenText: 'domestic.survey-response.business-details.heading' | trans
    }
] -%}

<h2 class="govuk-heading-m">Business details</h2>
{{- summaryListStart({classes: 'govuk-!-margin-bottom-' ~ (marginBottom ?? 9)}) -}}
    {{- summaryListRow({
        key: 'domestic.survey-response.business-details.number-of-employees.label' | trans,
        value: "common.number-of-employees.#{survey.response.numberOfEmployees}" | trans,
        actions: showActions ? businessDetailsActionLinks : []
    }, showActions) }}
    {{- summaryListRow({
        key: 'domestic.survey-response.business-details.business-nature.label' | trans,
        value: survey.response.businessNature,
        actions: showActions ? businessDetailsActionLinks : []
    }, showActions) }}
    {{- summaryListRow({
        key: 'domestic.survey-response.business-details.operation-type.label' | trans,
        value: (constant('App\\Entity\\Vehicle::OPERATION_TYPE_TRANSLATION_PREFIX') ~ survey.response.vehicle.operationType) | trans,
        actions: showActions ? businessDetailsActionLinks : []
    }, showActions) }}
{{- summaryListEnd() -}}
