{% from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListRow, actionlessSummaryListRow %}

<h2 class="govuk-heading-m">Contact details</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
    {% set contactDetailsActionLinks = {(url('app_domesticsurvey_initialdetails_index', {state: constant('App\\Workflow\\DomesticSurvey\\InitialDetailsState::STATE_CHANGE_CONTACT_DETAILS')})): 'Change'} %}
    {{ summaryListRow('Name', domesticSurvey.response.contactName, contactDetailsActionLinks) }}
    {{ summaryListRow('Telephone', domesticSurvey.response.contactTelephone, contactDetailsActionLinks) }}
    {{ summaryListRow('Email address', domesticSurvey.response.contactEmail, contactDetailsActionLinks) }}
    {% set canCompleteActionLinks = {(url('app_domesticsurvey_initialdetails_index', {state: constant('App\\Workflow\\DomesticSurvey\\InitialDetailsState::STATE_ASK_IN_POSSESSION')})): 'Change'} %}

    {{ summaryListRow('In possession of vehicle?', (constant('App\\Entity\\Domestic\\SurveyResponse::IN_POSSESSION_TRANSLATION_PREFIX') ~ domesticSurvey.response.isInPossessionOfVehicle) | trans, canCompleteActionLinks) }}
    {% if domesticSurvey.response.isInPossessionOfVehicle == constant('App\\Entity\\Domestic\\SurveyResponse::IN_POSSESSION_ON_HIRE') %}
        {{ summaryListRow('Hiree', domesticSurvey.response.hireeName, canCompleteActionLinks) }}
    {% elseif domesticSurvey.response.isInPossessionOfVehicle == constant('App\\Entity\\Domestic\\SurveyResponse::IN_POSSESSION_SCRAPPED_OR_STOLEN') %}
        {{ summaryListRow('Date of theft/scrappage', domesticSurvey.response.unableToCompleteDate | date, canCompleteActionLinks) }}
    {% elseif domesticSurvey.response.isInPossessionOfVehicle == constant('App\\Entity\\Domestic\\SurveyResponse::IN_POSSESSION_SOLD') %}
        {{ summaryListRow('Date of sale', domesticSurvey.response.unableToCompleteDate | date, canCompleteActionLinks) }}
        {{ summaryListRow('New owner', domesticSurvey.response.newOwnerName, canCompleteActionLinks) }}
    {% endif %}
</dl>