{%- from '@GhostGovUkFrontend/components/macros.html.twig' import tableStart, tableBodyStart, tableEndIncludingBody, tableHead, tableRow -%}
{%- set linkRowNumbers = linkRowNumbers | default(false) -%}
{{- tableStart({classes: 'rfs-admin-report-table'}) -}}
    {{- tableHead([
        '#',
        'From',
        'To',
        'Goods',
    ]) -}}
    {%- set stopCount = stops | length -%}
    {{- tableBodyStart() -}}
        {%- for stop in stops -%}
            {%- set link %}<a href="#stop-{{ stop.number }}" class="govuk-link">{{ stop.number }}</a>{% endset -%}
            {{- tableRow([
                linkRowNumbers ? {html: link} : stop.number,
                ((stop.originLocation | formatPotentialPostcode) ~ (stop | formatGoodsTransferDetails('loading', ' — '))),
                ((stop.destinationLocation | formatPotentialPostcode) ~ (stop | formatGoodsTransferDetails('unloading', ' — '))),
                stop | formatGoodsDescription(true),
            ]) -}}
        {%- endfor -%}
        {%- if stopCount < 4 -%}
            {%- for x in (stopCount + 1)..4 -%}
                {{- _self.emptyRow(x) -}}
            {%- endfor -%}
        {%- endif -%}
        {{- _self.emptyRow(stopCount < 5 ? 5 : (stopCount + 1)) -}}
{{- tableEndIncludingBody() -}}

{%- macro emptyRow(rowNumber) -%}
    {{- tableRow([rowNumber, '-', '-', '-']) -}}
{%- endmacro -%}
