{%- from 'macros.html.twig' import addToListRow as row, addToListActionLinks as actionLinks -%}

<dl class="govuk-summary-list govuk-!-margin-bottom-9" id="order-list">
    {%- set reorderRoute = app.request.attributes.get('_route') -%}
    {%- for stop in sortedStops -%}
        {%- set moveUpLink = url(reorderRoute, reorderRouteExtraParams|default({})|merge({
            dayNumber: day.number, mapping: shiftMapping(mapping, loop.index0, 'up')|join(',')
        })) -%}
        {%- set moveDownLink = url(reorderRoute, reorderRouteExtraParams|default({})|merge({
            dayNumber: day.number, mapping: shiftMapping(mapping, loop.index0, 'down')|join(',')
        })) -%}
        {%- set key -%}
            {%- set journeyCopy = 'domestic.day-stop.re-order.journey'|trans({
                origin: stop.originLocation,
                destination: stop.destinationLocation,
            }) -%}
            {%- set goodsCopy = formatGoodsDescription(stop.goodsDescription, stop.goodsDescriptionOther) -%}
            <strong>{{ stop.number }}.</strong>{{ journeyCopy }}<br>
            <div class="goods">{{ goodsCopy }}</div>
        {%- endset -%}

        {%- set links = [] -%}
        {%- if not loop.first %}{% set links = links|merge({
            (moveUpLink): {label: 'common.actions.move-up', srHiddenSuffix: "stage ##{stop.number} - #{journeyCopy}"}
        }) %}{% endif -%}
        {%- if not loop.last %}{% set links = links|merge({
            (moveDownLink): {label: 'common.actions.move-down', srHiddenSuffix: "stage ##{stop.number} - #{journeyCopy}"}
        }) %}
        {% endif -%}

        {{ row(key, links, {noEscape: true}) }}
    {%- endfor -%}
</dl>

{{ form(form) }}