{%- from '@GhostGovUkFrontend/components/summary-list/macros.html.twig' import summaryListStart, summaryListEnd, summaryListRow -%}

{{- summaryListStart({classes: 'govuk-!-margin-bottom-9', attributes: {id: 'order-list'}}) -}}
    {%- set reorderRoute = app.request.attributes.get('_route') -%}
    {%- for stop in sortedStops -%}
        {%- set journeyCopy = 'domestic.day-stop.re-order.journey' | trans({
            origin: stop.originLocation,
            destination: stop.destinationLocation,
        }) -%}
        {%- set content -%}
            <strong>{{ stop.number }}.</strong>{{ journeyCopy }}<br>
            <div class="goods">{{ formatGoodsDescription(stop.goodsDescription, stop.goodsDescriptionOther) }}</div>
        {%- endset -%}

        {%- set links = [
            not loop.first ?
                {
                    href: url(
                        reorderRoute,
                        reorderRouteExtraParams | default({}) | merge({
                            dayNumber: day.number,
                            mapping: shiftMapping(mapping, loop.index0, 'up') | join(',')
                        })
                    ),
                    text: 'common.actions.move-up' | trans(),
                    visuallyHiddenText: "stage ##{stop.number} - #{journeyCopy}"
                } :
                null,
            not loop.last ?
                {
                    href: url(
                        reorderRoute,
                        reorderRouteExtraParams | default({}) | merge({
                            dayNumber: day.number,
                            mapping: shiftMapping(mapping, loop.index0, 'down') | join(',')
                        })
                    ),
                    text: 'common.actions.move-down' | trans(),
                    visuallyHiddenText: "stage ##{stop.number} - #{journeyCopy}"
                } :
                null,
        ] -%}

        {%- set links = links | filter(v => v is not null) -%}

        {{- summaryListRow({
            key: {html: content},
            value: '',
            actions: {items: links}
        }) -}}
    {%- endfor -%}
{{- summaryListEnd() -}}

{{- form(form) -}}
