{%- from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListStart, summaryListEnd, summaryListRow -%}
{%- set showActions = showActions ?? true -%}

{%- set canCompleteActionLinks = [
    {
        href: url('app_domesticsurvey_initialdetails_index', {state: constant('App\\Workflow\\DomesticSurvey\\InitialDetailsState::STATE_ASK_IN_POSSESSION')}),
        text: 'common.actions.change' | trans,
        visuallyHiddenText: 'domestic.survey-response.in-possession-of-vehicle.change-link-sr-suffix' | trans
    }
] -%}

<h2 class="govuk-heading-m">Initial details</h2>
{%- include 'domestic_survey/includes/contact-details.html.twig' -%}
{{- summaryListStart({classes: 'govuk-!-margin-bottom-' ~ (marginBottom ?? 7)}) -}}
    {{- summaryListRow({
            key: 'domestic.survey-response.in-possession-of-vehicle.is-in-possession-of-vehicle.label' | trans,
            value: (constant('App\\Entity\\Domestic\\SurveyResponse::IN_POSSESSION_TRANSLATION_PREFIX') ~ survey.response.isInPossessionOfVehicle) | trans,
            actions: showActions ? canCompleteActionLinks : []
    }, showActions) -}}
    {%- if survey.response.isInPossessionOfVehicle == constant('App\\Entity\\Domestic\\SurveyResponse::IN_POSSESSION_SCRAPPED_OR_STOLEN') %}
        {{- summaryListRow({
            key: 'domestic.survey-response.scrapped-details.date.label' | trans,
            value: survey.response.unableToCompleteDate | date('format.date.written-with-year' | trans),
            actions: showActions ? canCompleteActionLinks : []
        }, showActions) -}}
    {%- elseif survey.response.isInPossessionOfVehicle == constant('App\\Entity\\Domestic\\SurveyResponse::IN_POSSESSION_YES') %}
        {%- if survey.response.isExemptVehicleType is null -%}
            {%- set exemptValue = '-' -%}
        {%- else -%}
            {%- set exemptValue = (constant('App\\Entity\\Domestic\\SurveyResponse::IS_EXEMPT_TRANSLATION_PREFIX') ~ (survey.response.isExemptVehicleType ? 'yes' : 'no')) | trans -%}
        {%- endif -%}

        {{- summaryListRow({
            key: 'domestic.survey-response.is-exempt-vehicle-type.label' | trans,
            value: exemptValue,
            actions: showActions ? canCompleteActionLinks : []
        }, showActions) -}}
    {%- endif -%}
{{- summaryListEnd() -}}

{% if survey.response.isInPossessionOfVehicle == constant('App\\Entity\\Domestic\\SurveyResponse::IN_POSSESSION_ON_HIRE') %}
    <h2 class="govuk-heading-m">Hiree details</h2>

    {{- summaryListStart({classes: 'govuk-!-margin-bottom-' ~ (marginBottom ?? 7)}) -}}
        {{- summaryListRow({
            key: 'domestic.survey-response.hiree-details.name.label' | trans,
            value: survey.response.hireeName,
            actions: showActions ? canCompleteActionLinks : []
        }, showActions) -}}
        {{- summaryListRow({
            key: 'domestic.survey-response.hiree-details.telephone.label' | trans,
            value: survey.response.hireeTelephone ?? '-',
            actions: showActions ? canCompleteActionLinks : []
        }, showActions) -}}
        {{- summaryListRow({
            key: 'domestic.survey-response.hiree-details.email.label' | trans,
            value: survey.response.hireeEmail ?? '-',
            actions: showActions ? canCompleteActionLinks : []
        }, showActions) -}}
        {{- summaryListRow({
            key: 'domestic.survey-response.hiree-details.address.label' | trans,
            value: (survey.response.hireeAddress and survey.response.hireeAddress.filled) ? (survey.response.hireeAddress|formatAddress(true)) : '-',
            actions: showActions ? canCompleteActionLinks : []
        }, showActions) -}}
    {{- summaryListEnd() -}}
{% elseif survey.response.isInPossessionOfVehicle == constant('App\\Entity\\Domestic\\SurveyResponse::IN_POSSESSION_SOLD') %}
    <h2 class="govuk-heading-m">{{ 'domestic.survey-response.sold-details-display.heading'|trans }}</h2>
    {{- summaryListStart({classes: 'govuk-!-margin-bottom-' ~ (marginBottom ?? 7)}) -}}
        {{- summaryListRow({
            key: 'domestic.survey-response.sold-details-display.date' | trans,
            value: survey.response.unableToCompleteDate | date('format.date.written-with-year' | trans),
            actions: showActions ? canCompleteActionLinks : []
        }, showActions) -}}
        {{- summaryListRow({
            key: 'domestic.survey-response.sold-details-display.name' | trans,
            value: survey.response.newOwnerName ?? '-',
            actions: showActions ? canCompleteActionLinks : []
        }, showActions) -}}
        {{- summaryListRow({
            key: 'domestic.survey-response.sold-details-display.email' | trans,
            value: survey.response.newOwnerEmail ?? '-',
            actions: showActions ? canCompleteActionLinks : []
        }, showActions) -}}
        {{- summaryListRow({
            key: 'domestic.survey-response.sold-details-display.address' | trans,
            value: (survey.response.newOwnerAddress and survey.response.newOwnerAddress.filled) ?
                (survey.response.newOwnerAddress|formatAddress(true)) :
                '-',
            actions: showActions ? canCompleteActionLinks : []
        }, showActions) -}}
    {{- summaryListEnd() -}}
{% endif %}

