{%- from '@GhostGovUkFrontend/components/macros.html.twig' import optionalActionsSummaryListRow as row -%}
{% set showActions = showActions ?? true %}

<h2 class="govuk-heading-m">Initial details</h2>
{% include 'domestic_survey/includes/contact-details.html.twig' %}
<dl class="govuk-summary-list govuk-!-margin-bottom-{{ marginBottom ?? 7 }}">
    {% set canCompleteActionLinks = {
        (url('app_domesticsurvey_initialdetails_index', {state: constant('App\\Workflow\\DomesticSurvey\\InitialDetailsState::STATE_ASK_IN_POSSESSION')})):
        {label: 'common.actions.change', srHiddenSuffix: 'domestic.survey-response.in-possession-of-vehicle.change-link-sr-suffix' | trans}
    } %}
    {{ row(showActions, 'domestic.survey-response.in-possession-of-vehicle.is-in-possession-of-vehicle.label', (constant('App\\Entity\\Domestic\\SurveyResponse::IN_POSSESSION_TRANSLATION_PREFIX') ~ survey.response.isInPossessionOfVehicle) | trans, canCompleteActionLinks) }}
    {%- if survey.response.isInPossessionOfVehicle == constant('App\\Entity\\Domestic\\SurveyResponse::IN_POSSESSION_SCRAPPED_OR_STOLEN') %}
        {{ row(showActions, 'domestic.survey-response.scrapped-details.date.label', survey.response.unableToCompleteDate | date('format.date.written-with-year' | trans), canCompleteActionLinks) }}
    {%- endif -%}
</dl>

{% if survey.response.isInPossessionOfVehicle == constant('App\\Entity\\Domestic\\SurveyResponse::IN_POSSESSION_ON_HIRE') %}
    <h2 class="govuk-heading-m">Hiree details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-{{ marginBottom ?? 7 }}">
        {{ row(showActions, 'domestic.survey-response.hiree-details.name.label', survey.response.hireeName, canCompleteActionLinks) }}
        {{ row(showActions, 'domestic.survey-response.hiree-details.telephone.label', survey.response.hireeTelephone ?? '-', canCompleteActionLinks) }}
        {{ row(showActions, 'domestic.survey-response.hiree-details.email.label', survey.response.hireeEmail ?? '-', canCompleteActionLinks) }}
        {{ row(showActions, 'domestic.survey-response.hiree-details.address.label', (survey.response.hireeAddress and survey.response.hireeAddress.filled) ? (survey.response.hireeAddress|formatAddress(true)) : '-', canCompleteActionLinks) }}
    </dl>
{% elseif survey.response.isInPossessionOfVehicle == constant('App\\Entity\\Domestic\\SurveyResponse::IN_POSSESSION_SOLD') %}
    <h2 class="govuk-heading-m">{{ 'domestic.survey-response.sold-details-display.heading'|trans }}</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-{{ marginBottom ?? 7 }}">
        {{ row(showActions, 'domestic.survey-response.sold-details-display.date', survey.response.unableToCompleteDate | date('format.date.written-with-year' | trans), canCompleteActionLinks) }}
        {{ row(showActions, 'domestic.survey-response.sold-details-display.name', survey.response.newOwnerName ?? '-', canCompleteActionLinks) }}
        {{ row(showActions, 'domestic.survey-response.sold-details-display.email', survey.response.newOwnerEmail ?? '-', canCompleteActionLinks) }}
        {{ row(showActions, 'domestic.survey-response.sold-details-display.address', (survey.response.newOwnerAddress and survey.response.newOwnerAddress.filled) ? (survey.response.newOwnerAddress|formatAddress(true)) : '-', canCompleteActionLinks) }}
    </dl>
{% endif %}

