{% macro dayText(day) -%}
    {{- (day | default(false))
        ? (day.hasMoreThanFiveStops
            ? ('More than 5 stops' ~ (day.isComplete
                ? " (#{day.summary.originLocation} to #{day.summary.destinationLocation})"
                : ' (incomplete)'
            ))
            : ('5 stops or fewer' ~ (day.isComplete
                ? " (#{(day.stops | first).originLocation} to #{(day.stops | last).destinationLocation})"
                : " (incomplete)"
            ))
        )
        : 'No journeys'
    -}}
{%- endmacro %}

{% macro userAssitanceHelpBlock() %}
    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">{{ 'domestic.help.summary'|trans }}</span>
        </summary>
        <div class="govuk-details__text">
            <p class="govuk-body">{{ 'domestic.help.text.call'|trans }} <strong>{{ 'domestic.help.text.phone-number'|trans }}</strong></p>
            <p class="govuk-body">{{ 'domestic.help.text.office-hours'|trans }}</p>
        </div>
    </details>
{% endmacro %}