{% from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListRow, actionLinks %}

<h2 class="govuk-heading-m">Business details</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
    {# business details #}
    {% set businessDetailsActionLinks = {(url('app_domesticsurvey_vehicleandbusinessdetails_index', {state: constant('App\\Workflow\\DomesticSurvey\\VehicleAndBusinessDetailsState::STATE_CHANGE_BUSINESS_DETAILS')})): 'Change'} %}
    {{ summaryListRow(
        'domestic.survey-response.business-details.number-of-employees.label' | trans,
        "domestic.number-of-employees.#{domesticSurvey.response.numberOfEmployees}" | trans,
        businessDetailsActionLinks) }}
    {{ summaryListRow(
        'domestic.survey-response.business-details.business-nature.label' | trans,
        domesticSurvey.response.businessNature,
        businessDetailsActionLinks) }}
    {{ summaryListRow(
        'domestic.survey-response.business-details.operation-type.label' | trans,
        (constant('App\\Entity\\Vehicle::OPERATION_TYPE_TRANSLATION_PREFIX') ~ domesticSurvey.response.vehicle.operationType) | trans,
        businessDetailsActionLinks) }}
</dl>

<h2 class="govuk-heading-m">Vehicle details</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
    {# vehicle weights #}
    {% set vehicleWeightsActionLinks = {(url('app_domesticsurvey_vehicleandbusinessdetails_index', {state: constant('App\\Workflow\\DomesticSurvey\\VehicleAndBusinessDetailsState::STATE_CHANGE_VEHICLE_WEIGHTS_AND_FUEL')})): 'Change'} %}
    {{ summaryListRow('domestic.survey-response.vehicle-weights-and-fuel.fuel-quantity.label' | trans,
        "#{domesticSurvey.response.vehicle.fuelQuantity.value} #{domesticSurvey.response.vehicle.fuelQuantity.unit}",
        vehicleWeightsActionLinks) }}
    {{ summaryListRow('domestic.survey-response.vehicle-weights-and-fuel.gross-weight.label' | trans,
        "#{domesticSurvey.response.vehicle.grossWeight} Kg",
        vehicleWeightsActionLinks) }}
    {{ summaryListRow('domestic.survey-response.vehicle-weights-and-fuel.carrying-capacity.label' | trans,
        "#{domesticSurvey.response.vehicle.carryingCapacity} Kg",
        vehicleWeightsActionLinks) }}

    {# vehicle config #}
    {% set vehicleConfigActionLinks = {(url('app_domesticsurvey_vehicleandbusinessdetails_index', {state: constant('App\\Workflow\\DomesticSurvey\\VehicleAndBusinessDetailsState::STATE_CHANGE_VEHICLE_TRAILER_CONFIGURATION')})): 'Change'} %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Axle configuration</dt>
        <dd class="govuk-summary-list__value">{{ svgIcon("lorry-#{domesticSurvey.response.vehicle.axleConfiguration}.svg") }}<br>{{ (domesticSurvey.response.vehicle.axleConfiguration | vehicleAxleConfigTransKey | trans) }}</dd>
        <dd class="govuk-summary-list__actions">
            {{- actionLinks(vehicleConfigActionLinks) -}}
        </dd>
    </div>
</dl>
