{%- from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListStart, summaryListEnd, summaryListRow -%}
{%- from 'macros.html.twig' import displayAxleConfiguration -%}
{%- set showActions = showActions ?? true -%}
{%- set showHeading = showHeading ?? true -%}

{%- set vehicleWeightsActionLinks = [
    {
        href: url('app_domesticsurvey_vehicleandbusinessdetails_index', {state: constant('App\\Workflow\\DomesticSurvey\\VehicleAndBusinessDetailsState::STATE_CHANGE_VEHICLE_WEIGHTS')}),
        text: 'common.actions.change' | trans,
        visuallyHiddenText: 'domestic.survey-response.vehicle-weights.heading'
    }
] -%}

{%- if showHeading -%}<h2 class="govuk-heading-m">Vehicle details</h2>{%- endif -%}
{{- summaryListStart({classes: 'govuk-!-margin-bottom-' ~ (marginBottom ?? 9)}) -}}
    {% if not workflow_has_marked_place(survey, constant('App\\Entity\\Domestic\\Survey::STATE_IN_PROGRESS'), 'domestic_survey') %}
        {%- set fuelValue = survey.response.vehicle.fuelQuantity.value and survey.response.vehicle.fuelQuantity.unit ?
            ("common.volume.#{survey.response.vehicle.fuelQuantity.unit}" | trans({value: survey.response.vehicle.fuelQuantity.value})) :
            '-'
        -%}
        {{- summaryListRow({
            key: 'domestic.survey-response.vehicle-fuel.fuel-quantity.label' | trans,
            value: fuelValue,
            actions: showActions ? vehicleWeightsActionLinks : []
        }, showActions) -}}
    {% endif %}
    {{- summaryListRow({
        key: 'common.vehicle.gross-weight' | trans,
        value: ('common.weight.kilograms'|trans({value: survey.response.vehicle.grossWeight})),
        actions: showActions ? vehicleWeightsActionLinks : []
    }, showActions) -}}
    {{- summaryListRow({
        key: 'common.vehicle.carrying-capacity' | trans,
        value: ('common.weight.kilograms'|trans({value: survey.response.vehicle.carryingCapacity})),
        actions: showActions ? vehicleWeightsActionLinks : []
    }, showActions) -}}

    {# vehicle config #}
    {%- set vehicleConfigActionLinks = [
        {
            href: url('app_domesticsurvey_vehicleandbusinessdetails_index', {state: constant('App\\Workflow\\DomesticSurvey\\VehicleAndBusinessDetailsState::STATE_CHANGE_VEHICLE_TRAILER_CONFIGURATION')}),
            text: 'common.actions.change' | trans,
            visuallyHiddenText: 'domestic.survey-response.vehicle-trailer-configuration.change-link-sr-suffix' | trans
        }
    ] -%}

    {{- summaryListRow({
        key: 'common.vehicle.axle-configuration' | trans,
        value: {
            html: displayAxleConfiguration(survey.response.vehicle.axleConfiguration)
        },
        actions: showActions ? vehicleConfigActionLinks : []
    }, showActions) }}
    {{- summaryListRow({
        key: 'common.vehicle.body-type' | trans,
        value: (constant('App\\Entity\\Vehicle::BODY_CONFIGURATION_TRANSLATION_PREFIX') ~ survey.response.vehicle.bodyType) | trans,
        actions: showActions ? vehicleConfigActionLinks : []
    }, showActions) -}}
    {%- if (showReasonForEmptySurvey ?? false) and survey.response.isInPossessionOfVehicle and not survey.response.hasJourneys -%}
        {%- set reason = choiceLabel(constant('App\\Entity\\Domestic\\SurveyResponse::EMPTY_SURVEY_REASON_CHOICES'), survey.response.reasonForEmptySurvey) -%}
        {{- summaryListRow({
            key: 'Reason for empty survey',
            value: reason ? reason | trans : '-'
        }, showActions) -}}
    {%- endif -%}
{{- summaryListEnd() -}}
