{% from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListRow, buttonLink, actionLinks, tableHeadComplex, tableCell -%}

{% for stop in day.stops %}
    <h2 class="govuk-heading-l">Stop {{ loop.index }}</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        {% set urlChange = url('app_domesticsurvey_daysummary_start', {dayNumber: day.number}) %}

        {{ summaryListRow('domestic.day-view.start-location',
            (stop.originLocation | default('-')) ~ (stop | formatGoodsTransferDetails('loading', ' — ')),
        {(urlChange): 'common.actions.change'}) }}
        {{ summaryListRow('domestic.day-view.destination-location',
            (stop.destinationLocation | default('-')) ~ (stop | formatGoodsTransferDetails('unloading', ' — '))
        ) }}
        {{ summaryListRow('domestic.day-view.distance-travelled',
            ("domestic.day-view.distance.plain.#{stop.distanceTravelled.unit}" |
            trans({value: stop.distanceTravelled.value})
        )) }}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ 'domestic.day-view.goods-carried' | trans | nl2br }}</dt>
            <dd class="govuk-summary-list__value">
                {{- stop | formatGoodsDescription }}
                {%- set hazardousGoodsChoices = constant('App\\Entity\\HazardousGoods::CHOICES') -%}
                {%- if stop.hazardousGoodsCode %} — <em>{{ stop.hazardousGoodsCode }}</em> - {{ choiceLabel(hazardousGoodsChoices, stop.hazardousGoodsCode) | trans }}{% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
                {# Action Links #}
            </dd>
        </div>
        {%- set cargoChoices = constant('App\\Entity\\CargoType::CHOICES') -%}
        {{ summaryListRow('domestic.day-view.cargo-type', choiceLabel(cargoChoices, stop.cargoTypeCode) | trans) }}

        {{ summaryListRow('domestic.day-view.weight-of-goods.label', ('domestic.day-view.weight-of-goods.plain' | trans({value: stop.weightOfGoodsCarried}))) }}
    </dl>
{% endfor %}

{#<table class="govuk-table">#}
{#    {{ tableHeadComplex('domestic.day-view.legs-for-day', {#}
{#        'domestic.day-view.table.origin': {},#}
{#        'domestic.day-view.table.destination': {},#}
{#        'domestic.day-view.table.distance': {numeric: true},#}
{#        'domestic.day-view.table.goods': {},#}
{#        '': {}#}
{#    }) }}#}
{#    <tbody class="govuk-table__body">#}
{#    {% for stop in day.stops %}#}
{#        <tr class="govuk-table__row">#}
{#            {{ tableCell(stop.originLocation | default('-') ~ (stop | formatGoodsTransferDetails('loading', "\n"))) }}#}
{#            {{ tableCell(stop.destinationLocation | default('-') ~ (stop | formatGoodsTransferDetails('unloading', "\n"))) }}#}
{#            {{ tableCell(stop.distanceTravelled, {numeric: true}) }}#}
{#            <td class="govuk-table__cell">#}
{#                {{- stop.goodsDescription == constant('App\\Entity\\Domestic\\Day::GOODS_DESCRIPTION_OTHER')#}
{#                ? stop.goodsDescriptionOther#}
{#                : ("domestic.goods-description.options.#{stop.goodsDescription}" | trans)#}
{#                -}}#}
{#                {%- if stop.cargoTypeCode | default(false) %} / {{#}
{#                "goods.cargo-type.options.#{stop.cargoTypeCode}" | trans#}
{#                -}}#}
{#                {%- endif -%}#}
{#            </td>#}
{#            {{ tableCell(#}
{#                actionLinks({(url('app_domesticsurvey_daystop_start', {dayNumber: day.number, legNumber: stop.number})): 'common.actions.change'}),#}
{#                {actions: true}#}
{#            ) }}#}
{#        </tr>#}
{#    {% endfor %}#}
{#    </tbody>#}
{#</table>#}
<p class="govuk-body">
    {{ buttonLink(url('app_domesticsurvey_daystop_start', {dayNumber: day.number}), 'domestic.day-view.actions.add-a-leg-for-this-journey'|trans) }}
</p>