{%- from "@GhostGovUkFrontend/components/macros.html.twig" import tableCell, actionLinks -%}
{%- from "admin/domestic/macros.html.twig" import locationAndStatus, daySummaryTableHeadingAndCaption -%}
{%- from "admin/macros/macros.html.twig" import displayLimitedBy -%}
{% from 'macros.html.twig' import displayHazardousGoods %}

{%- set isNorthernIreland = survey.isNorthernIreland -%}

<table class="govuk-table journeys-table" id="{{ day.id }}">
    {{- daySummaryTableHeadingAndCaption(null, survey, day) -}}
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row" id="{{ day.summary.id }}">
        {{- tableCell(locationAndStatus(day.summary.originLocation, day.summary.goodsLoaded, false, day.summary.goodsTransferredFrom), {class: 'journeys-table__load-status'}) -}}
        {{- tableCell(locationAndStatus(day.summary.destinationLocation, day.summary.goodsUnloaded, false, day.summary.goodsTransferredTo, false), {class: 'journeys-table__load-status'}) -}}

        {%- if isNorthernIreland -%}
            {{- tableCell(day.summary.borderCrossingLocation|formatPotentialPostcode|default('-')) -}}
        {%- endif -%}

        {{- tableCell(day.summary.furthestStop | formatPotentialPostcode) -}}
        {{- tableCell(
            ("common.distance.#{day.summary.distanceTravelledLoaded.unit}" | trans({value: day.summary.distanceTravelledLoaded.value})) ~
            " / " ~
            ("common.distance.#{day.summary.distanceTravelledUnloaded.unit}" | trans({value: day.summary.distanceTravelledUnloaded.value})),
            {numeric: true}
        ) -}}
        {{- tableCell(day.summary | formatGoodsDescription(true)) -}}
        {{- tableCell(displayHazardousGoods(day.summary.hazardousGoodsCode)) -}}
        {{- tableCell(day.summary.cargoTypeCode) -}}
        {{- tableCell(
            ('common.weight.kilograms'|trans({value: day.summary.weightOfGoodsLoaded})) ~
            " / " ~
            ('common.weight.kilograms'|trans({value: day.summary.weightOfGoodsUnloaded}))
        , {numeric: true}) -}}
        {{- tableCell("#{day.summary.numberOfStopsLoading} / #{day.summary.numberOfStopsUnloading} / #{day.summary.numberOfStopsLoadingAndUnloading}", {numeric: true}) -}}

        {%- if showActions ?? true -%}
            {%- set links = actionLinks({
                (url(constant('App\\Controller\\Admin\\Domestic\\DaySummaryController::DELETE_ROUTE'), {summaryId: day.summary.id})): {label: 'common.actions.delete', srHiddenSuffix: "Day #{day.number}"},
                (url(constant('App\\Controller\\Admin\\Domestic\\DaySummaryController::EDIT_ROUTE'), {summaryId: day.summary.id})): {label: 'common.actions.edit', srHiddenSuffix: "Day #{day.number}"},
            }) -%}
            {{- tableCell(links, {actions: true}) -}}
        {%- endif -%}
    </tr>
    </tbody>
</table>