{%- from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListRow as row -%}

{% set showAll = true %}

<h2 class="govuk-heading-m">{{ 'domestic.driver-availability.drivers.heading' | trans }}</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-{{ marginBottom ?? 9 }}">
    {{- row('domestic.driver-availability.drivers.number-of-drivers-employed.label' | trans, _self.intOrNull(availability.numberOfDriversEmployed)) -}}
    {{- row('domestic.driver-availability.drivers.has-vacancies.label' | trans, _self.boolOrNull(availability.hasVacancies)) -}}
    {%- if showAll or availability.hasVacancies == 'yes' -%}
        {{- row('domestic.driver-availability.drivers.number-of-driver-vacancies.label' | trans, _self.intOrNull(availability.numberOfDriverVacancies)) -}}
        {{- row('domestic.driver-availability.drivers.reasons-for-vacancies.label' | trans, _self.listOrNull(availability.reasonsForDriverVacancies, availability.reasonsForDriverVacanciesOther, 'domestic.driver-availability.drivers.reasons-for-vacancies.choices')) -}}
    {%- endif -%}
    {{- row('domestic.driver-availability.drivers.number-of-drivers-that-have-left.label' | trans, _self.intOrNull(availability.numberOfDriversThatHaveLeft)) -}}
</dl>

{%- if showAll or availability.hasVacancies == 'yes' -%}
    <h2 class="govuk-heading-m">{{ 'domestic.driver-availability.deliveries.heading' | trans }}</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-{{ marginBottom ?? 9 }}">
        {{- row('domestic.driver-availability.deliveries.number-of-lorries-operated.label' | trans, _self.intOrNull(availability.numberOfLorriesOperated)) -}}
        {{- row('domestic.driver-availability.deliveries.number-of-parked-lorries.label' | trans, _self.intOrNull(availability.numberOfParkedLorries)) -}}
        {{- row('domestic.driver-availability.deliveries.has-missed-deliveries.label' | trans, _self.boolOrNull(availability.hasMissedDeliveries)) -}}
        {% if showAll or availability.hasMissedDeliveries == 'yes' %}
            {{- row('domestic.driver-availability.deliveries.number-of-missed-deliveries.label' | trans, _self.intOrNull(availability.numberOfMissedDeliveries)) -}}
        {%- endif -%}
    </dl>
{%- endif -%}


<h2 class="govuk-heading-m">{{ 'domestic.driver-availability.wages.heading' | trans }}</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-{{ marginBottom ?? 9 }}">
    {{- row('domestic.driver-availability.wages.have-wages-increased.label' | trans, _self.choiceOrNull(availability.haveWagesIncreased, 'domestic.driver-availability.yes-no-plan-to.choices')) -}}
    {% if showAll or availability.haveWagesIncreased == 'yes' %}
        {{- row('domestic.driver-availability.wages.wage-increase-period.label' | trans, _self.choiceOrNull(availability.wageIncreasePeriod, 'domestic.driver-availability.wages.wage-increase-period.choices', availability.wageIncreasePeriodOther)) -}}

        {% set averageWageIncrease = availability.averageWageIncrease != null ?
            _self.money(availability.averageWageIncrease) :
            (availability.legacyAverageWageIncreasePercentage ? (availability.legacyAverageWageIncreasePercentage ~ "%") : '-')
        %}
        {{- row('domestic.driver-availability.wages.average-wage-increase.label' | trans, averageWageIncrease) -}}
        {{- row('domestic.driver-availability.wages.reasons-for-wage-increase.label' | trans, _self.listOrNull(availability.reasonsForWageIncrease, availability.reasonsForWageIncreaseOther, 'domestic.driver-availability.wages.reasons-for-wage-increase.choices')) -}}
    {% endif %}
</dl>

<h2 class="govuk-heading-m">{{ 'domestic.driver-availability.bonuses.heading' | trans }}</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-{{ marginBottom ?? 9 }}">
    {{- row('domestic.driver-availability.bonuses.has-paid-bonus.label' | trans, _self.choiceOrNull(availability.hasPaidBonus, 'domestic.driver-availability.yes-no-plan-to.choices')) -}}
    {% if showAll or availability.hasPaidBonus == 'yes' %}
        {{- row('domestic.driver-availability.bonuses.average-bonus.label' | trans, _self.money(availability.averageBonus)) -}}
        {{- row('domestic.driver-availability.bonuses.reasons-for-bonuses.label' | trans, _self.listOrNull(availability.reasonsForBonuses, availability.reasonsForWageIncreaseOther, 'domestic.driver-availability.bonuses.reasons-for-bonuses.choices')) -}}
    {% endif %}
</dl>

{%- macro money(value) -%}
    {%- if value is null -%}
        {{ '-' }}
    {%- else -%}
        {{ (value/100) | number_format(2) }} GBP
    {%- endif -%}
{%- endmacro -%}

{%- macro boolOrNull(value) -%}
    {%- if value is same as null -%}
        -
    {%- elseif value is same as "yes" -%}
        Yes
    {%- elseif value is same as "no" -%}
        No
    {%- elseif value is same as "do-not-know" -%}
        Don't know
    {%- endif -%}
{%- endmacro -%}

{%- macro intOrNull(value, unit) -%}
    {%- if value is same as null -%}
        -
    {%- else -%}
        {{ value | format_number }}{{ unit | default('') }}
    {%- endif -%}
{%- endmacro -%}

{% macro choiceOrNull(value, translationPrefix, otherValue) %}
    {%- if value is same as null -%}
        -
    {%- else -%}
        {{- "#{translationPrefix}.#{value}" | trans -}}
        {%- if value == 'other' -%}: {{ otherValue }}{%- endif -%}
    {%- endif -%}
{% endmacro %}

{%- macro listOrNull(value, otherValue, translationPrefix) -%}
    {%- if value is same as null -%}
        -
    {%- else -%}
        {{- value | map(s =>
            ("#{translationPrefix}.#{s}" | trans)
            ~ (((s == "other") and (otherValue ?? false)) ? ": \"#{otherValue}\"" : '')
        ) | join("\n") -}}
    {%- endif -%}
{%- endmacro -%}

{%- macro valueUnitOrNull(value) -%}
    {%- if value is same as null or value.value is same as null -%}
        -
    {%- else -%}
        {{- value.value | number_format }} {{ "domestic.driver-availability.currency-or-percentage.#{value.unit}" | trans -}}
    {%- endif -%}
{%- endmacro -%}

