{%- from '@GhostGovUkFrontend/components/macros.html.twig' import actionlessSummaryListRow as row -%}
<h2 class="govuk-heading-m">Invitation/Reminder details</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-{{ marginBottom ?? 9 }}">
    {%- set address = survey.invitationAddress and survey.invitationAddress.filled ? survey.invitationAddress : null %}
    {{- row('Address', address | formatAddress(true) | default('-')) -}}

    {{- _self.row('Initial invitation', _self.notificationStatus(survey.notifyApiResponsesMatching(
        constant('App\\Utility\\AlphagovNotify\\Reference::EVENT_INVITE'),
        'App\\Messenger\\AlphagovNotify\\Letter',
        true
    ))) -}}
    {{- _self.row('Reminder 1', _self.notificationStatus(survey.notifyApiResponsesMatching(
        constant('App\\Utility\\AlphagovNotify\\Reference::EVENT_REMINDER_1'),
        'App\\Messenger\\AlphagovNotify\\Letter',
        true
    ))) -}}
    {{- _self.row('Reminder 2', _self.notificationStatus(survey.notifyApiResponsesMatching(
        constant('App\\Utility\\AlphagovNotify\\Reference::EVENT_REMINDER_2'),
        'App\\Messenger\\AlphagovNotify\\Letter',
        true
    ))) -}}
</dl>

<dl class="govuk-summary-list govuk-!-margin-bottom-{{ marginBottom ?? 9 }}">

    {{- row('Email Address', '') -}}
    {{- _self.row('Initial invitation', _self.notificationStatus(survey.notifyApiResponsesMatching(
        constant('App\\Utility\\AlphagovNotify\\Reference::EVENT_INVITE'),
        'App\\Messenger\\AlphagovNotify\\Email',
        true
    ), true)) -}}
    {{- _self.row('Reminder 1', _self.notificationStatus(survey.notifyApiResponsesMatching(
        constant('App\\Utility\\AlphagovNotify\\Reference::EVENT_REMINDER_1'),
        'App\\Messenger\\AlphagovNotify\\Email',
        true
    ), true)) -}}
    {{- _self.row('Reminder 2', _self.notificationStatus(survey.notifyApiResponsesMatching(
        constant('App\\Utility\\AlphagovNotify\\Reference::EVENT_REMINDER_2'),
        'App\\Messenger\\AlphagovNotify\\Email',
        true
    ), true)) -}}

</dl>

{%- macro row(key, value, options) -%}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-padding-left-5">{{ key }}</dt>
        <dd class="govuk-summary-list__value">{{ value }}</dd>
    </div>
{%- endmacro -%}

{%- macro notificationStatus(apiResponses, displayRecipient) -%}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import tag -%}
    {%- if apiResponses -%}
        {% for response in apiResponses %}
            <div class="api-response">
                {%- set status = response.data[constant('App\\EventSubscriber\\AlphagovNotifyMessengerSubscriber::STATUS_KEY')] -%}
                {{- tag({text: status, classes: ("admin.notify.status.#{status}" | trans)}) -}}
                <span class="govuk-body-s">
                    <span class="api-response__timestamp">{{ response.timestamp | date('format.date-time.default' | trans) -}}</span>
                    {%- if displayRecipient | default(false) -%}<span class="api-response__recipient">{{ response.recipient }}</span>{% endif %}
                    {%- if status != constant('App\\Utility\\AlphagovNotify\\Reference::STATUS_ACCEPTED') -%}
                        {%- for error in response.data.errors -%}
                            <br>{{- error.error }}: {{ error.message | nl2br -}}
                        {%- endfor -%}
                    {%- endif -%}
                </span>
            </div>
        {% endfor %}
    {%- else -%}
        -
    {%- endif -%}
{%- endmacro -%}