{% extends 'admin/base-with-nav.html.twig' %}

{% trans_default_domain 'admin' %}
{% set headingDomain = 'admin' %}
{% set translation_prefix = "notification-interception" %}

{% block adminContent %}
    {% from '@GhostGovUkFrontend/components/macros.html.twig' import pagination, tableHead, tableRow, summaryListActionsList, tag %}
    {%- from 'admin/macros/list-page.html.twig' import listTableStart, listTableEnd -%}
    {%- from 'admin/macros/list-page-extra.html.twig' import countField, reminderDate -%}

    {{ listTableStart(data, form) }}
    {% for ni in data.entities %}
        {%- set visuallyHiddenText = "notification-interception.sr-hidden-suffix" | trans({primaryName: ni.primaryName}, 'admin') -%}
        {%- set actions = [] -%}

        {%- if survey_type == 'domestic' -%}
            {%- set actions = actions | merge([
                {
                    href: url(edit_address_route, {id: ni.id}),
                    text: 'notification-interception.edit-address.label' | trans({}, 'admin'),
                    visuallyHiddenText: visuallyHiddenText,
                }
            ]) -%}
        {%- elseif survey_type == 'international' -%}
            {%- set actions = actions | merge([
                {
                    href: url(edit_names_route, {id: ni.id}),
                    text: 'notification-interception.edit-names.label' | trans({}, 'admin'),
                    visuallyHiddenText: visuallyHiddenText,
                }
            ]) -%}
        {%- endif -%}

        {%- set actions = actions | merge([
            {
                href: url(edit_emails_route, {id: ni.id}),
                text: 'notification-interception.edit-emails.label' | trans({}, 'admin'),
                visuallyHiddenText: visuallyHiddenText,
            },
            {
                href: url(delete_route, {id: ni.id}),
                text: 'common.actions.delete' | trans({}, 'messages'),
                visuallyHiddenText: visuallyHiddenText,
            }
        ]) -%}

        {{- tableRow([
            ni.primaryName,
            'other_names' in form.children | keys ?
                (ni.additionalNames | map(n => n.name) | join(', ')) :
                null,
            ni.emails,
            {html: summaryListActionsList(actions)}
        ]) -}}
    {% else %}
        {{- tableRow([
            {
                text: 'admin.operator-groups.list.no-results' | trans({}, 'messages'),
                colspan: data.fields | length + 1,
            }
        ]) -}}
    {% endfor %}
    {{ listTableEnd(data, form, false) }}

    <a class="govuk-button" href="{{ url(add_route) }}">{{ "#{translation_prefix}.button.add" | trans }}</a>

    <div class="pagination-container">
        {{ pagination(data.paginationData) }}
    </div>
{% endblock %}
