{%- extends 'admin/base-with-nav.html.twig' -%}

{%- set translation_prefix = "admin.operator-groups" -%}

{%- block extraHeadingClasses %}govuk-!-margin-bottom-2{% endblock -%}

{%- block adminContent -%}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListActionsList, tableRow, tag -%}
    {%- from 'admin/macros/list-page.html.twig' import listTableStart, listTableEnd -%}

    {{- listTableStart(data, form) -}}

    <p class="govuk-body govuk-!-margin-bottom-5">
        <a href="{{ path('admin_operator_groups_add_start') }}" class="govuk-link">{{ 'admin.operator-groups.list.add' | trans }}</a>
    </p>

    {%- for operatorGroup in data.entities -%}
        {%- set linksContent = summaryListActionsList([
            {
                href: path('admin_operator_groups_edit_start', {operatorGroupId: operatorGroup.id}),
                text: 'admin.operator-groups.list.edit' | trans,
                visuallyHiddenText: 'admin.operator-groups.list.edit-hidden-suffix' | trans({name: operatorGroup.name}),
            },
            {
                href: path('admin_operator_groups_view', {operatorGroupId: operatorGroup.id}),
                text: 'admin.operator-groups.list.view' | trans,
                visuallyHiddenText: 'admin.operator-groups.list.view-hidden-suffix' | trans({name: operatorGroup.name}),
            }
        ]) -%}

        {{- tableRow([
            operatorGroup.name ?? '-',
            {html: linksContent}
        ]) -}}
    {%- else -%}
        {{- tableRow([
            {
                text: 'admin.operator-groups.list.no-results' | trans,
                colspan: data.fields | length + 1,
            }
        ]) -}}
    {%- endfor -%}
    {{- listTableEnd(data, form) -}}
{%- endblock -%}
