{% extends 'admin/report/report-base.html.twig' %}

{% set translation_prefix = "admin.reports.quality-assurance" %}

{% block statsTable %}
    {%- if type == 'irhs' -%}
        {{- _self.displayIrhs(stats) -}}
    {%- else -%}
        {{- _self.displayCsrgt(stats) -}}
    {%- endif -%}
{% endblock %}

{% macro displayCsrgt(stats) %}
    {% for year, yearStats in stats %}
        {{ _self.displayTable(yearStats.data, yearStats.totals, yearStats.total) }}
    {% endfor %}
{% endmacro %}

{% macro displayIrhs(stats) %}
    {{ _self.displayTable(stats.data, stats.totals, stats.total) }}
{% endmacro %}

{% macro displayTable(stats, totals, totalOfTotals) %}
    <p class="govuk-body">
        Stats shown for surveys that have been approved or exported
    </p>
    <table class="govuk-table rfs-admin-report-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Week</th>
            <th scope="col" class="govuk-table__header">Quality-assured</th>
            <th scope="col" class="govuk-table__header">Non-quality-assured</th>
            <th scope="col" class="govuk-table__header">Total</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% import "admin/report/macros.html.twig" as m %}
        {% set fields = ['quality-assured', 'not-quality-assured'] %}
        {% for week, weekStats in stats %}
            {%- set allZeros = weekStats.allZeros -%}
            <tr class="govuk-table__row">
                <td class="govuk-table__header">{{ week }}</td>
                {{ m.displayRow(weekStats.data, weekStats.total, weekStats.allZeros, fields) }}
            </tr>
        {% endfor %}
        <tr class="govuk-table__row">
            <td class="govuk-table__header">Total</td>
            {{ m.displayRow(totals, totalOfTotals, false, fields) }}
        </tr>
        </tbody>
    </table>
{% endmacro %}