{% extends 'admin/base-with-nav.html.twig' %}

{% set translation_prefix = 'admin.domestic.import-review' %}

{% block adminContent %}
    {% from '@GhostGovUkFrontend/components/macros.html.twig' import warningText %}
    <p class="govuk-body">When submitting this form, a Domestic Survey will be created for each item that is selected below.</p>
    <p class="govuk-body">
        The surveys will be created for the <strong>{{ surveyOptions.isNorthernIreland ? 'NI' : 'GB' }} region</strong>
        and will start on <strong>{{ surveyOptions.surveyPeriodStart | date('format.date.full-with-year' | trans) }}</strong>
    </p>

    {{ warningText({text: 'An invitation letter will be sent to each Survey recipient'}) }}

    {% if surveyOptions.overriddenRegion ?? false %}
        {{ warningText({text: 'The survey region selected does not match the region that was auto-detected from the filename'}) }}
    {% endif %}

    {% if surveyOptions.surveyPeriodStart < date('today') %}
        {{ warningText({text: 'The survey start date is in the past'}) }}
    {% endif %}

    {% set failedCount = (invalidLines | length) + (invalidData | length) + (invalidSurveys | length) %}
    {% if failedCount > 0 %}
        {{ warningText({text: "#{failedCount} surveys failed to import"}) }}
        <p class="govuk-body">
        {% for failed in invalidLines %}
            <kbd>{{ failed }}</kbd><br>
        {% endfor %}
        {% for failed in invalidData %}
            <kbd>{{ failed | join(', ') }}</kbd><br>
        {% endfor %}
            {% from "admin/macros/notify.html.twig" import showValidationFailures %}
            {{ showValidationFailures(invalidSurveys, 'registrationMark') }}
        </p>
    {% endif %}

    {{ form(form) }}
{% endblock %}