{%- from '@GhostGovUkFrontend/components/macros.html.twig' import tableCell, tableHead, actionLinks -%}
{%- from 'macros.html.twig' import displayAxleConfiguration -%}

{%- set showActions = showActions ?? true -%}
{%- set isAdmin = isAdmin ?? isAdminDelete ?? false -%}
{%- set bottomMargin = bottomMargin ?? 6 -%}
{%- set cargoChoices = constant('App\\Entity\\CargoType::CHOICES') -%}
{%- set hazardousGoodsChoices = constant('App\\Entity\\HazardousGoods::CHOICES') -%}

<table class="govuk-table govuk-!-margin-bottom-{{ bottomMargin }}">
    {%- if isAdmin -%}
        {%- set headers = ['#', 'common.action.place', 'common.action.type', 'common.action.weight', 'common.action.goods', 'common.action.from', 'Cargo Type', 'Hazardous?'] -%}
        {%- if showActions -%}{%- set headers = headers | merge(['']) -%}{%- endif -%}
        {{- tableHead(false, headers) -}}
    {%- else -%}
        {{- tableHead(false, ['#', 'common.action.place', 'common.action.type', 'common.action.weight', 'common.action.goods', 'common.action.from', '']) -}}
    {%- endif -%}
    <tbody class="govuk-table__body">
    {%- for action in trip.actions %}
        {%- if filter is not defined or action.id in filter -%}
        <tr class="govuk-table__row">
            {{ tableCell(action.number) }}
            {{ tableCell('common.action.place-name'|trans({name: action.name, country: action.country|country_name})) }}
            {{ tableCell((action.loading ? 'common.action.loading' : 'common.action.unloading')|trans) }}

            {%- if action.loading or not action.weightUnloadedAll -%}
                {{ tableCell((action.weightOfGoods|number_format) ~ 'kg') }}
            {%- else -%}
                {{ tableCell('common.action.unloaded-all'|trans({weight: (action.loadingAction.weightOfGoods|number_format) ~ 'kg'})) }}
            {%- endif -%}


            {%- if action.loading -%}
                {{ tableCell(formatGoodsDescription(action.goodsDescription, action.goodsDescriptionOther)) }}
                {{ tableCell('-') }}
            {%- else -%}
                {%- set loadingAction = action.loadingAction -%}
                {{ tableCell(formatGoodsDescription(loadingAction.goodsDescription, loadingAction.goodsDescriptionOther)) }}
                {{ tableCell(loadingAction.number ~ '. ' ~ loadingAction.name) }}
            {%- endif -%}

            {%- if isAdmin -%}
                {%- set hazardousGoods -%}
                    {%- if action.hazardousGoodsCode -%}
                        <em>{{ action.hazardousGoodsCode }}</em> - {{ choiceLabel(hazardousGoodsChoices, action.hazardousGoodsCode) | trans }}
                    {%- else -%}
                        -
                    {%- endif -%}
                {%- endset -%}
                {{ tableCell(choiceLabel(cargoChoices, action.cargoTypeCode) | trans | default('-')) }}
                {{ tableCell(hazardousGoods, {html: true}) }}
            {%- endif -%}

            {%- if showActions -%}
                {%- if isAdmin -%}
                    {%- set editContents -%}
                        {%- set deleteRoute = constant('App\\Controller\\Admin\\International\\Survey\\ActionController::DELETE_ROUTE') -%}
                        <a href="{{ url(deleteRoute, {actionId: action.id}) }}" class="govuk-button govuk-button--warning govuk-!-margin-bottom-0">Delete</a>
                        {%- set editRoute = constant('App\\Controller\\Admin\\International\\Survey\\ActionController::EDIT_ROUTE') -%}
                        <a href="{{ url(editRoute, {actionId: action.id}) }}" class="govuk-button govuk-!-margin-bottom-0">Edit</a>
                    {%- endset -%}
                    {{ tableCell(editContents, {actions: true}) }}
                {%- else -%}
                    {%- set viewRoute = constant('App\\Controller\\InternationalSurvey\\ActionController::VIEW_ROUTE') -%}
                    {%- set viewContents = actionLinks({(url(viewRoute, {actionId: action.id})): 'common.actions.view'|trans}) -%}
                    {{ tableCell(viewContents, {actions: true}) }}
                {%- endif -%}
            {%- endif -%}
        </tr>
        {%- endif -%}
    {%- endfor -%}
    </tbody>
</table>