{%- from '@GhostGovUkFrontend/components/macros.html.twig' import errorSummary, summaryListStart, summaryListEnd, summaryListRow -%}

{%- if not unloadedBeforeLoaded is empty -%}
    {{- errorSummary({
        titleText: 'There is a problem',
        errorList: [
            {
                text: 'international.action.re-order.invalid-order' | trans({
                        number: unloadedBeforeLoaded|length,
                        list: unloadedBeforeLoaded|join(', '),
                    }, 'validators'),
                href: '#order-list',
            }
        ]
    }) -}}
{%- endif -%}

{{- summaryListStart({classes: 'govuk-!-margin-bottom-9', attributes: {id: 'order-list'}}) -}}
    {%- set reorderRoute = app.request.attributes.get('_route') -%}
    {%- for action in sortedActions -%}
        {%- set content -%}
            {%- set translationString = action.loading ? 'common.action.loaded-at' : 'common.action.unloaded-at' -%}
            {%- if action.loading -%}
                {%- set goodsCopy = formatGoodsDescription(action.goodsDescription, action.goodsDescriptionOther) -%}
            {%- else -%}
                {%- set loadingAction = action.loadingAction -%}
                {%- set goods = formatGoodsDescription(loadingAction.goodsDescription, loadingAction.goodsDescriptionOther) -%}
                {%- set goodsCopy = 'common.action.goods-from-place'|trans({name: loadingAction.name, country: loadingAction|formatCountry, goods: goods, number: loadingAction.number}) %}
            {%- endif -%}
            {%- set actionLocationCopy = translationString | trans({name: action.name, country: action | formatCountry}) -%}
            <strong>{{ action.number }}.</strong>{{ actionLocationCopy }}<br>
            <div class="goods">{{ goodsCopy }}</div>
        {%- endset -%}

        {%- set links = [
            not loop.first ?
                {
                    href: url(
                        reorderRoute,
                        {
                            tripId: trip.id,
                            mapping: shiftMapping(mapping, loop.index0, 'up') | join(','),
                        }
                    ),
                    text: 'common.actions.move-up' | trans,
                    visuallyHiddenText: "action ##{action.number} - #{actionLocationCopy}",
                } :
                null,
            not loop.last ?
                {
                    href: url(
                        reorderRoute,
                        {
                            tripId: trip.id,
                            mapping: shiftMapping(mapping, loop.index0, 'down') | join(','),
                        }
                    ),
                    text: 'common.actions.move-down' | trans,
                    visuallyHiddenText: "action ##{action.number} - #{actionLocationCopy}",
                } :
                null,
        ] -%}

        {%- set links = links | filter(v => v is not null) -%}

        {{- summaryListRow({
            key: {html: content},
            value: '',
            actions: {items: links}
        }) -}}
    {%- endfor -%}
{{- summaryListEnd() -}}

{{ form(form) }}
