{% set survey = app.user.internationalSurvey %}
<h2 class="govuk-heading-m">{{ 'international.sidebar-summary.title'|trans }}</h2>

<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Company</h3>
<p class="govuk-body">{{ survey.company.businessName }}</p>

<h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ 'international.sidebar-summary.period-start'|trans }}</h3>
<p class="govuk-body">{{ survey.surveyPeriodStart | date('F j, Y') }}</p>

{% if survey.surveyPeriodInDays > 1 %}
<h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ 'international.sidebar-summary.period-end'|trans }}</h3>
<p class="govuk-body">{{ survey.surveyPeriodEnd | date('F j, Y') }}</p>
{% endif %}