{%- from '@GhostGovUkFrontend/components/macros.html.twig' import tableHead, tableCell, actionLinks -%}
{%- from 'macros.html.twig' import displayAxleConfiguration -%}

{%- set showActions = showActions ?? true -%}
{%- set vehicleRoute = constant('App\\Controller\\InternationalSurvey\\VehicleController::VEHICLE_ROUTE') -%}

<table class="govuk-table govuk-!-margin-bottom-9">
    {{- tableHead(false, ['international.summary.registration', 'international.summary.type-and-configuration', 'international.summary.status', '']) -}}
    <tbody class="govuk-table__body">
    {%- for vehicle in vehicles -%}
        <tr class="govuk-table__row">
            {{- tableCell(vehicle.formattedRegistrationMark) -}}
            {{- tableCell(displayAxleConfiguration(vehicle.axleConfiguration)) -}}
            {{- tableCell('-') -}}
            {%- set viewContents = actionLinks({(url(vehicleRoute, {vehicleId: vehicle.id})): 'common.actions.view'|trans}) -%}
            {{- tableCell(viewContents, {actions: true}) -}}
        </tr>
    {%- else -%}
        <tr class="govuk-table__row">
            {{- tableCell('international.summary.no-vehicles'|trans, {colSpan: showActions ? 4 : 3}) -}}
        </tr>
    {%- endfor -%}
    </tbody>
</table>
