{% extends "base-common.html.twig" %}

{%- from '@GhostGovUkFrontend/components/macros.html.twig' import header as govukHeader, footer as govukFooter -%}

{% block head -%}
    {{ encore_entry_link_tags('app') }}
    {% include 'includes/smartlook-tracking.html.twig' %}
{%- endblock %}

{% block header %}
    <style nonce="{{ csp_inline_script_helper.nonce('env-label') }}">
        #envLabel {
            {% if env_label_colour ?? false %}color: {{ env_label_colour }};{% endif %}
            {% if env_label_background ?? false %}background: {{ env_label_background }};{% endif %}
        }
        #session-reminder {display:none;}
    </style>
    {% if env_label_frontend %}
    <div class="govuk-warning-header" id="envLabel">
        This is the {{ env_label_frontend|upper }} deployment of the Road Haulage Surveys website. <strong>Do not use this site unless you have been asked to do so</strong>.<br>
    </div>
    {% endif %}
    {{ govukHeader({
        homepageUrl: 'https://www.gov.uk/',
        serviceName: ('service.name' | trans),
        serviceUrl: '/',
        navigation: ((is_granted('ROLE_SURVEY_USER') or is_granted('ROLE_RORO_USER'))
        ? [{href: logout_path(), text: 'common.logout' | trans}]
        : false
        ),
        useTudorCrown: true
    }) }}
{% endblock %}

{% block beforeMain %}
    {% block sessionWarning %}
    {%- if app.user -%}
    {#- Re: role="alert" - https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/alert_role#example_4_making_an_element_with_an_alert_role_visible -#}
    <div role="alert" data-warning="{{ sessionWarningTime() }}" data-expiry="{{ sessionExpiryTime() }}" class="govuk-width-container {{ containerClasses | default('') }}" id="session-reminder">
        <span class="extend">Your session will time out soon. <a href="#" class="govuk-link">Click here to extend your session.</a></span>
        <span class="expired">Your session has expired. Any unsaved data will be lost. <a href="{{ path('app_login') }}" class="govuk-link">Click here to login.</a></span>
    </div>
    {%- endif -%}
    {% endblock %}
{% endblock %}

{% block main %}
    <div class="govuk-width-container {{ containerClasses | default('') }}">
        {% block beforeContent -%}
            {{ parent() }}
        {%- endblock %}
        <main class="govuk-main-wrapper {{ mainClasses | default('') }}" id="main-content" role="main"{% if mainLang | default(false) %} lang="{{ mainLang }}"{% endif %}>
            {%- from '@GhostGovUkFrontend/components/macros.html.twig' import flashNotificationBanners, errorSummary -%}
            {{ flashNotificationBanners() }}

            {%- set erroringForms = _context | filter(item => not (item.vars.errors.form.getErrors(true) ?? []) is empty) -%}
            {%- if erroringForms is not empty -%}
                {{ errorSummary({
                    titleText: 'common.error-summary.problem' | trans,
                    errorList: erroringForms | form_views_to_errors,
                }) }}
            {% endif %}

            {% block content %}{% endblock %}
        </main>
    </div>
{% endblock %}

{% block bodyEnd %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block footer %}
    {{ govukFooter({
        meta: {items: [
            {href: path('app_home_accessibilitystatement'), text: 'Accessibility'},
            {href: path('app_home_privacystatement'), text: 'Privacy'},
        ]}
    }) }}
{% endblock %}
