{% extends "base-common.html.twig" %}

{%- from '@GhostGovUkFrontend/components/macros.html.twig' import header as govukHeader -%}

{% block head -%}
    {{ encore_entry_link_tags('app') }}
    {% include 'includes/wisdom-tracking.html.twig' %}
{%- endblock %}

{% block headerBar %}
    {{ govukHeader({
        serviceName: ('service.name' | trans),
        navigation: (is_granted('ROLE_SURVEY_USER')
        ? [{href: path('app_logout'), text: 'Logout'}]
        : false
        ),
    }) }}
{% endblock %}

{% block main %}
    <div class="govuk-width-container {{ containerClasses | default('') }}">
        {% block beforeContent -%}
            {{ parent() }}
        {%- endblock %}
        <main class="govuk-main-wrapper {{ mainClasses | default('') }}" id="main-content" role="main"{% if mainLang | default(false) %} lang="{{ mainLang }}"{% endif %}>
            {%- from '@GhostGovUkFrontend/components/macros.html.twig' import flashNotificationBanners -%}
            {{ flashNotificationBanners() }}

            {% block content %}{% endblock %}
        </main>
    </div>
{% endblock %}

{% block bodyEnd %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
