{%- macro displayAxleConfiguration(axleConfiguration) -%}
    {%- set hasIcon = not ('' ~ axleConfiguration ends with '99') -%}
    {%- if hasIcon -%}
        {{- svgIcon("lorry-#{axleConfiguration}.svg") }}<br>
    {%- endif -%}
    {{ (axleConfiguration | vehicleAxleConfigTransKey | trans) }}
{%- endmacro -%}

{% macro addToListRow(key, actions, options) -%}
    <div class="govuk-add-to-list__row {{ options.row_class | default('') }}">
        <div class="govuk-add-to-list__key">{{ key | nl2br }}</div>
        {% if not (options.hideActions | default(false)) %}
            <div class="govuk-add-to-list__actions">
                {{- _self.addToListActionLinks(actions) -}}
            </div>
        {% endif %}
    </div>
{%- endmacro %}

{% macro addToListActionLinks(actionLinks) %}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import actionLink -%}
    {%- if actionLinks | length == 1 -%}
        {{- actionLink((actionLinks | keys) | first, actionLinks | first) -}}
    {%- else -%}
        <ul class="govuk-add-to-list__actions-list">
            {%- for url, action in actionLinks -%}
                <li class="govuk-add-to-list__actions-list-item">
                    {{- actionLink(url, action) -}}
                </li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{% endmacro %}