{%- macro displayAxleConfiguration(axleConfiguration) -%}
    {%- set hasIcon = not ('' ~ axleConfiguration ends with '99') -%}
    {%- if hasIcon -%}
        {{- svgIcon("lorry-#{axleConfiguration}.svg") }}<br>
    {%- endif -%}
    {{ (axleConfiguration | vehicleAxleConfigTransKey | trans) }}
{%- endmacro -%}

{% macro generalUserAssitanceHelpBlock() %}
{#
    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">{{ 'common.help.summary'|trans }}</span>
        </summary>
        <div class="govuk-details__text">
#}
            <p class="govuk-body">{{ 'domestic.general-help.text.call'|trans }} <strong>{{ 'domestic.help.text.phone-number'|trans }}</strong></p>
            <p class="govuk-body">{{ 'international.general-help.text.call'|trans }} <strong>{{ 'international.help.text.phone-number'|trans }}</strong></p>
            <p class="govuk-body">{{ 'common.help.text.office-hours'|trans }}</p>
{#
        </div>
    </details>
#}
{% endmacro %}

{% macro displayHazardousGoods(code, notHazardousText) %}
    {%- set hazardousGoodsChoices = constant('App\\Entity\\HazardousGoods::CHOICES') -%}
    {%- if code|default(false) %}<em>{{ code }}</em> - {{ choiceLabel(flattenChoices(hazardousGoodsChoices), code) | trans }}
    {%- else -%}
        {%- if notHazardousText ?? false -%}
            {{- notHazardousText | trans -}}
        {%- else -%}
            -
        {%- endif -%}
    {%- endif -%}
{%- endmacro %}
