{% extends "@GhostGovUkFrontend/theme.html.twig" %}

{% block gds_value_units_row %}
    {% with {
        row_attr: row_attr|merge({
            'class': ('value-unit-field ' ~ row_attr.class|default('')) | trim
        })
    } %}
        {{ block('gds_fieldset_row') }}
    {% endwith %}
{% endblock %}

{% block address_line1_label %}
    {% set labelTranslation = label|trans == label ? '' : label|trans %}
    {% set newLabel %}{{ labelTranslation }}<span class="govuk-visually-hidden"> {{ 'common.address.line1-hidden'|trans }}</span>{% endset %}
    {% with {label: newLabel, label_html: true, translation_domain: false } %}
        {{ block('form_label') }}
    {% endwith %}
{% endblock %}

{% block address_line2_label %}
    {% set labelTranslation = label|trans == label ? '' : label|trans %}
    {% set newLabel %}{{ labelTranslation }}<span class="govuk-visually-hidden"> {{ 'common.address.line2-hidden'|trans }}</span>{% endset %}
    {% with {label: newLabel, label_html: true, translation_domain: false } %}
        {{ block('form_label') }}
    {% endwith %}
{% endblock %}