{%- macro daySummaryTableHeadingAndCaption(dayNumber, survey, day) -%}
    {{- _self.daySummaryTableHeading(survey.isNorthernIreland, {
        captionContent: _self.dayJourneyTableCaption(dayNumber, survey, day)
    }) -}}
{%- endmacro -%}

{%- macro dayStopTableHeadingAndCaption(dayNumber, survey, day) -%}
    {{- _self.dayStopTableHeading(survey.isNorthernIreland, {
        captionContent: _self.dayJourneyTableCaption(dayNumber, survey, day)
    }) -}}
{%- endmacro -%}

{%- macro daySummaryTableHeading(isNorthernIreland, options={}) -%}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import tableCaption, tableHead -%}

    {%- if options.captionContent is defined -%}
        {{- tableCaption({caption: options.captionContent}) -}}
    {%- endif -%}

    {{- tableHead([
        'Origin',
        'Destination',
        isNorthernIreland ? 'Border' : null,
        'Furthest point',
        {text: 'Distance (l/u)', classes: 'govuk-table__cell--numeric'},
        'Goods',
        'Hazardous?',
        'Cargo type',
        {text: "Weight (l/u)", classes: 'govuk-table__cell--numeric'},
        {text: "Stops (l/u/b)", classes: 'govuk-table__cell--numeric'},
        {html: 'common.actions.table-heading' | trans},
    ]) -}}
{%- endmacro -%}

{%- macro dayStopTableHeading(isNorthernIreland, options={}) -%}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import tableHead, tableCaption -%}

    {%- if options.captionContent is defined -%}
        {{- tableCaption({caption: options.captionContent}) }}
    {%- endif -%}

    {{- tableHead([
        'Origin',
        'Destination',
        isNorthernIreland ? 'Border' : null,
        {text: 'Distance', classes: 'govuk-table__cell--numeric'},
        'Goods',
        'Hazardous?',
        'Cargo type',
        {text: 'Weight', classes: 'govuk-table__cell--numeric'},
        'Capacity',
        {html: 'common.actions.table-heading' | trans},
    ]) -}}
{%- endmacro -%}

{%- macro dayJourneyTableCaption(dayNumber, survey, day) -%}
    {%- from "domestic_survey/includes/macros.html.twig" import dayText -%}
    {%- if not dayNumber -%}
        {%- set dayNumber = day.number -%}
    {%- endif -%}
    <div>Day {{ dayNumber }} — {{ (survey.surveyPeriodStartModifiedBy('+' ~ (dayNumber-1) ~ ' day')) | date ('format.date.full' | trans) }}</div>
    {%- if day|default(false) %}
        <div class="journeys-table__subcaption">{{ dayText(day) }}</div>
    {%- endif -%}
{%- endmacro -%}

{%- macro locationAndStatus(location, loaded, showLoaded, port, isOrigin) -%}
    {{- location|formatPotentialPostcode -}}
    {%- set type = _self.transfer(port) %}
    {%- if loaded -%}
        {%- if showLoaded -%}
            <br><span>{{ (isOrigin ?? true) ? 'Loaded' : 'Unloaded' }}
            {%- if type != '' %} ({{ type }}){% endif -%}</span>
        {%- else -%}
            {%- if type != '' %}<br><span>(Transferred {{ (isOrigin ?? true) ? 'from' : 'to' }} {{ type }}){% endif -%}</span>
        {%- endif -%}
    {%- endif -%}
{%- endmacro -%}

{%- macro transfer(xfer) -%}
    {%- if xfer != constant('App\\Entity\\Domestic\\Day::TRANSFERRED_NONE') -%}
        {{- "domestic.transferred-port.options.#{xfer}" | trans -}}
    {%- endif -%}
{%- endmacro -%}