{% extends 'admin/base-with-nav.html.twig' %}

{% set translation_prefix = "admin.pre-enquiry.add-success" %}

{% block adminContent %}
    {% from '@GhostGovUkFrontend/components/macros.html.twig' import actionlessSummaryListRow %}
    <p class="govuk-body">This is the <strong>one and only time</strong> that you will be able to view the access code.</p>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        {{ actionlessSummaryListRow(translation_prefix ~ '.company-name', preEnquiry.company.businessName) }}

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ (translation_prefix ~ '.invitation-email') | trans | nl2br }}</dt>
            <dd class="govuk-summary-list__value">
                {%- set bodyText -%}
                    Access code 1: {{ preEnquiry.passcodeUser.username }}
                    Access code 2: {{ preEnquiry.passcodeUser.plainPassword }}
                {%- endset -%}
                {%- set mailLink = "mailto:?subject=DfT International Road Haulage Pre Enquiry - Access codes&body=" ~ (bodyText|trim|url_encode) -%}
                <a href="{{ mailLink }}">email link</a>
            </dd>
        </div>
        {{ actionlessSummaryListRow(translation_prefix ~ '.access-code-1', preEnquiry.passcodeUser.username, {'row_class': 'access-code'}) }}
        {{ actionlessSummaryListRow(translation_prefix ~ '.access-code-2', preEnquiry.passcodeUser.plainPassword, {'row_class': 'access-code'}) }}
    </dl>
{% endblock %}

