{%- from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListStart, summaryListEnd, summaryListRow, tag -%}

{{- summaryListStart({classes: 'govuk-!-margin-bottom-' ~ (marginBottom ?? 9)}) -}}
    {%- set companyName -%}
        <a class="govuk-link" href="{{ path('admin_preenquiry_list', {company_name: preEnquiry.companyName}) }}">{{ preEnquiry.companyName }}</a>
    {%- endset -%}

    {{- summaryListRow({
        key: 'admin.pre-enquiry.view.company-name' | trans,
        value: {html: companyName}
    }) -}}
    {{- summaryListRow({
        key: 'admin.pre-enquiry.view.reference-number' | trans,
        value: preEnquiry.referenceNumber
    }) -}}
    {{- summaryListRow({
        key: 'admin.pre-enquiry.view.dispatch-date' | trans,
        value: preEnquiry.dispatchDate ? preEnquiry.dispatchDate | date('format.date.default' | trans) : '-'
    }) -}}

    {%- if showStatus ?? true -%}
        {{- summaryListRow({
            key: 'admin.pre-enquiry.view.status' | trans,
            value: {
                html: tag({text: preEnquiry.state, classes: "admin.survey.state.#{preEnquiry.state}" | trans})
            },
        }) -}}
    {%- endif -%}
    {%- if showUsername ?? true -%}
        {{- summaryListRow({
            key: 'admin.pre-enquiry.view.username' | trans,
            value: preEnquiry.passcodeUser.username
        }) -}}
        {{ summaryListRow({
            key: 'Last logged in',
            value: preEnquiry.passcodeUser.lastLogin ? preEnquiry.passcodeUser.lastLogin | date('format.date-time.default' | trans) : '-'
        }) -}}
        {{ summaryListRow({
            key: 'Contact with haulier',
            value: preEnquiry.chasedCount ? preEnquiry.chasedCount : '-'
        }) -}}
    {%- endif -%}
{{- summaryListEnd() -}}
