{%- from '@GhostGovUkFrontend/components/macros.html.twig' import actionlessSummaryListRow as row -%}
{%- set translation_prefix = 'pre-enquiry.summary' -%}

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
    {%- set response = preEnquiry.response -%}

    {{ row(translation_prefix ~ '.company-name', response.companyName) }}
    {{ row(translation_prefix ~ '.total-vehicle-count', response.totalVehicleCount) }}
    {{ row(translation_prefix ~ '.international-journey-vehicle-count', response.internationalJourneyVehicleCount) }}
    {{ row(translation_prefix ~ '.number-of-employees', response.numberOfEmployees) }}
    {{ row(translation_prefix ~ '.annual-journey-estimate', response.annualJourneyEstimate) }}
</dl>

<h2 class="govuk-heading-m">{{ (translation_prefix ~ '.correspondence-details')|trans }}</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
    {{ row(translation_prefix ~ '.name', response.contactName) }}
    {{ row(translation_prefix ~ '.email', response.contactEmail) }}
    {{ row(translation_prefix ~ '.phone', response.contactTelephone) }}
    {{ row(translation_prefix ~ '.address', response.contactAddress|formatAddress(true, false)|default('-')) }}
</dl>