{%- from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListStart, summaryListEnd, summaryListRow -%}

{{- summaryListStart({classes: 'govuk-!-margin-bottom-' ~ (marginBottom ?? 9)}) -}}
    {%- set response = preEnquiry.response -%}

    {{- summaryListRow({
        key: 'pre-enquiry.summary.company-name' | trans,
        value: response.companyName
    }) -}}
    {{- summaryListRow({
        key: 'pre-enquiry.summary.total-vehicle-count' | trans,
        value: response.totalVehicleCount
    }) -}}
    {{- summaryListRow({
        key: 'pre-enquiry.summary.international-journey-vehicle-count' | trans,
        value: response.internationalJourneyVehicleCount
    }) -}}
    {{- summaryListRow({
        key: 'pre-enquiry.summary.number-of-employees' | trans,
        value: response.numberOfEmployees
    }) -}}
    {{- summaryListRow({
        key: 'pre-enquiry.summary.annual-journey-estimate' | trans,
        value: response.annualJourneyEstimate
    }) -}}
{{- summaryListEnd() -}}

<h2 class="govuk-heading-m">{{ ('pre-enquiry.summary.correspondence-details') | trans }}</h2>
{{- summaryListStart({classes: 'govuk-!-margin-bottom-' ~ (marginBottom ?? 9)}) -}}
    {{- summaryListRow({
        key: 'pre-enquiry.summary.name' | trans,
        value: response.contactName
    }) -}}
    {{- summaryListRow({
        key: 'pre-enquiry.summary.email' | trans,
        value: response.contactEmail
    }) -}}
    {{- summaryListRow({
        key: 'pre-enquiry.summary.phone' | trans,
        value: response.contactTelephone
    }) -}}
    {{- summaryListRow({
        key: 'pre-enquiry.summary.address' | trans,
        value: response.contactAddress | formatAddress(true, false) | default('-')
    }) -}}
{{- summaryListEnd() -}}
