{% extends 'admin/base-with-nav.html.twig' %}

{% set translation_prefix = "admin.domestic.log" %}

{% block adminContent %}
    {% from "@GhostGovUkFrontend/components/macros.html.twig" import tableHead, tableCell, actionLinks %}
    <table class="govuk-table govuk-table__blamelog">
        {{ tableHead(false, ['class', 'description', 'action', 'user', 'date', 'properties', 'associated']) }}
        <tbody class="govuk-table__body">
            {% for item in log %}
                <tr class="govuk-table__row">
                    {{ tableCell(item.class | replace({'App\\Entity\\Domestic\\': ''})) }}
                    {{ tableCell(item.description) }}
                    {{ tableCell(item.type) }}
                    {{ tableCell(item.userId | removeEmailNamespacePrefix) }}
                    {{ tableCell(item.date | date('Y-m-d H:i')) }}
                    {{ tableCell(
                        actionLinks({'javascript:': {
                            label: 'view',
                            class: 'js-govuk-blamelog--properties',
                            attributes: {'data-properties': item.propertiesForDisplay | json_encode}
                        }}),
                        {html: true}
                    ) }}
                    {{ tableCell("#{item.associatedEntity | replace({'App\\Entity\\Domestic\\': ''})}: #{item.associatedId}") }}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

