{% from 'domestic_survey/includes/macros.html.twig' import dayText %}
{% from '@GhostGovUkFrontend/components/macros.html.twig' import tableHeadComplex, tableRowComplex, tableCell, actionLinks %}


{% set locationHeadings = {
    'Origin': {},
    'Destination': {},
} %}
{% set goodsHeadings = {
    'Goods': {},
    'Hazardous?': {},
    'Cargo type': {},
} %}
{% set summaryHeadings = locationHeadings | merge({
        'Furthest point': {},
        "Distance (l/u)": {numeric: true},
    }) | merge (goodsHeadings) | merge ({
        "Weight (l/u)": {numeric: true},
        "Stops (l/u/b)": {numeric: true},
    })
%}

{% set stopHeadings = locationHeadings | merge({
    "Distance": {numeric: true},
}) | merge (goodsHeadings) | merge ({
    "Weight": {numeric: true},
    "Capacity": {},
})
%}

{% for dayNumber in 1..7 -%}
    <table class="govuk-table">
        {%- set day = survey.response.dayByNumber(dayNumber) -%}
        {% set caption = "Day #{dayNumber} (#{(survey.startDateModifiedBy('+' ~ (dayNumber-1) ~ ' day')) | date ('l, jS M')}) " ~ (day ? dayText(day) : 'Nothing recorded') %}
        <tbody class="govuk-table__body">
        {% if day %}
            {% if day.hasMoreThanFiveStops %}
                {{ tableHeadComplex(caption, summaryHeadings) }}
                <tr class="govuk-table__row">
                    {{ tableCell(_self.location(day.summary.originLocation, day.summary.goodsLoaded, day.summary.goodsTransferredFrom)) }}
                    {{ tableCell(_self.location(day.summary.destinationLocation, day.summary.goodsUnloaded, day.summary.goodsTransferredTo, false)) }}
                    {{ tableCell(day.summary.furthestStop) }}
                    {{ tableCell("#{day.summary.distanceTravelledLoaded | formatValueUnit} / #{day.summary.distanceTravelledUnloaded | formatValueUnit}", {numeric: true}) }}
                    {{ tableCell(day.summary | formatGoodsDescription(true)) }}
                    {{ tableCell(day.summary.hazardousGoodsCode) }}
                    {{ tableCell(day.summary.cargoTypeCode) }}
                    {{ tableCell("#{day.summary.weightOfGoodsLoaded}kg / #{day.summary.weightOfGoodsUnloaded}kg", {numeric: true}) }}
                    {{ tableCell("#{day.summary.numberOfStopsLoading} / #{day.summary.numberOfStopsUnloading} / #{day.summary.numberOfStopsLoadingAndUnloading}", {numeric: true}) }}
                </tr>
            {% else %}
                {{ tableHeadComplex(caption, stopHeadings) }}
                {% for stop in day.stops %}
                    <tr class="govuk-table__row">
                        {{ tableCell(_self.location(stop.originLocation, stop.goodsLoaded, stop.goodsTransferredFrom)) }}
                        {{ tableCell(_self.location(stop.destinationLocation, stop.goodsUnloaded, stop.goodsTransferredTo, false)) }}
                        {{ tableCell(stop.distanceTravelled | formatValueUnit, {numeric: true}) }}
                        {{ tableCell(stop | formatGoodsDescription(true)) }}
                        {% if stop.goodsDescription == constant('App\\Entity\\AbstractGoodsDescription::GOODS_DESCRIPTION_EMPTY') %}
                            {{ tableCell('-') }}
                            {{ tableCell('-') }}
                            {{ tableCell('-', {numeric: true}) }}
                            {{ tableCell('-') }}
                        {% else %}
                            {{ tableCell(stop.hazardousGoodsCode) }}
                            {{ tableCell(stop.cargoTypeCode) }}
                            {{ tableCell("#{stop.weightOfGoodsCarried}kg", {numeric: true}) }}
                            {{ tableCell((stop.wasLimitedBySpace ? 'S' : '') ~ (stop.wasLimitedByWeight ? 'W' : '')) }}
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
        {% else %}
            {{ tableHeadComplex(caption, []) }}
            <tr><td>-</td></tr>
        {% endif %}
        </tbody>
    </table>

{% endfor %}

{% macro location(location, loaded, port, isOrigin) -%}
    {{- location -}}
    {%- if loaded %} (
        {{- (isOrigin ?? true) ? 'L' : 'U' -}}
        {%- if port != constant('App\\Entity\\Domestic\\Day::TRANSFERRED_NONE') -%}
            : {{ attribute({1: 'D', 2: 'R', 4: 'A'}, port) -}}
        {%- endif -%}
        )
    {%- endif -%}
{%- endmacro %}

